@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Alert stack
   ========================================================================== */

.c-alert-stack {
	position: fixed;
	left: 1.2rem;
	bottom: 1.2rem;
	z-index: variables.$g-c-alert-stack-z;

	.c-alert {
		max-width: 30rem;
	}

	li {
		margin-top: 1.2rem;
	}
}
