@use "../settings/colors" as colors;

/* ==========================================================================
   Component: Bordered list
   ========================================================================== */

.c-bordered-list {
	a,
	span {
		display: block;
		padding: 0.8rem;
	}

	a {
		text-decoration: none;
	}

	li {
	  border-bottom: 0.1rem solid colors.$color-gray-150;
	}
}

.c-bordered-list--direct-padding li {
	padding: 0.8rem;
}
