@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Bordered list horizontal
   ========================================================================== */

.c-bordered-list-horizontal {
	display: flex;

	li {
		border-right: 0.1rem solid colors.$color-gray-150;

		&:last-child {
			border: none;
		}

		a {
			text-decoration: none;
		}

		a,
		span {
			display: block;
			padding: 0.4rem 0.8rem;
		}
	}
}

/* Drop columns on request
   ========================================================================== */

@media (max-width: variables.$g-bp2 - 1) {
	.c-bordered-list-horizontal--resp {
		flex-direction: column;
		width: 100%;

		li {
			border-right: none;
			border-bottom: 0.1rem solid colors.$color-gray-150;

			&:last-child {
				border: none;
			}

			a,
			span {
				display: block;
				padding: 0.4rem 0.8rem;
			}
		}
	}
}
