@use "../settings/variables" as variables;

.c-cb-form {
	padding: 0 1.6rem;
	border: 2px solid rgba(variables.$c-input-border-color, 0.5);
}

.c-cb-form__header {
	.c-color-select {
		min-width: 17rem;
	}
}
