@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Content
   ---
   Usage: wrap a .c-content class around content to turn it into rich text.

   .c-h1, .c-h2, .c-body-1, c-body 2
   ---
   Usage: use these classes to style individual components like their rich text equivalent
   ========================================================================== */

.c-h1-display,
.c-content .c-h1-display {
	font-size: 4.8rem;
	margin: 2.4rem 0;
	line-height: 1.25;
	font-family: variables.$g-headings-font-family;
	font-weight: variables.$g-headings-font-weight;
}

.c-h1,
.c-content h1 {
	font-family: variables.$g-headings-font-family;
	font-weight: variables.$g-headings-font-weight;
	font-size: 3.2rem;
	margin: 3.2rem 0;
	line-height: 1.25;
}

.c-h2,
.c-content h2 {
	font-family: variables.$g-headings-font-family;
	font-weight: variables.$g-headings-font-weight;
	font-size: 2.4rem;
	margin: 2.4rem 0;
	line-height: 1.25;
}

.c-h3,
.c-content h3 {
	font-family: variables.$g-headings-font-family;
	font-weight: variables.$g-headings-font-weight;
	font-size: 2.1rem;
	margin: 2.1rem 0 1.2rem;
	line-height: 1.25;
}

.c-h4,
.c-content h4 {
	font-family: variables.$g-base-font-family;
	font-size: variables.$g-base-font-size;
	font-weight: variables.$g-headings-font-weight;
	margin: 1.5rem 0;
}

.c-h1.u-clickable,
.c-h2.u-clickable,
.c-h3.u-clickable,
.c-h4.u-clickable {
	color: colors.$color-teal-bright;

	&:hover {
		text-decoration: underline;
	}
}

.c-body-1 {
	font-size: variables.$g-base-font-size;
	margin: 1.5rem 0;
}

.c-body-1--spaced {
	line-height: 1.75;
}

.c-body-2 {
	font-size: 1.3rem;
	margin: 1.3rem 0;
}

.c-intro {
	font-size: 1.7rem;
}

.c-overline {
	font-weight: variables.$g-headings-font-weight;
	font-size: 1.4rem;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	margin: 1.5rem 0;
}

// Overline plus paragraph
.c-overline-plus-p {
	margin: 1.5rem 0;

	.c-overline {
		margin: 0 0 0.4rem;
	}

	p:last-child {
		margin: 0;
	}
}

// Provide a generic method to remove the margin top on the first item in .c-content
.c-content--no-mt {
	> *:first-child {
		margin-top: 0;
	}
}

// Provide a generic method to remove the margin on any single item in .c-content
.c-content--no-m {
	> *:first-child,
	> *:only-child {
		margin: 0;
	}
}

.c-content {
	white-space: initial;

	p {
		margin: 0;
		padding: 0.4rem 0;
	}

	a {
		text-decoration: underline;
	}

	dl {
		border: 1px solid colors.$color-gray-100;
		border-radius: 0.3rem;
		overflow: hidden;
		padding: 1.2rem;
		margin: 1.5rem 0;

		dt {
			float: left;
			width: 30%;
			clear: left;
			font-weight: variables.$g-headings-font-weight;
		}

		dd {
			float: left;
			width: 70%;
		}
	}

	ul,
	ol {
		padding: 0;
		margin: 1.5rem 0 1.5rem 2.85rem; // https://meemoo.atlassian.net/browse/AVO-3528

		ul,
		ol {
			margin: 0;
			padding-left: 2.25rem;
		}

		ul {
			li {
				list-style: circle;
			}
		}
	}

	ul {
		list-style: disc;
	}

	li {
		padding-left: 0.5rem;
	}

	ol {
		list-style: decimal;
	}

	blockquote {
		border-left: 0.4rem solid colors.$color-night-blue;
		margin: 0 0 10px 0;
		padding: 15px 20px;
		background-color: #f1f2f3;
		border-left: solid 5px #ccc;
		color: #666;
		font-style: italic;
	}

	table {
		width: 100%;
		margin: 1.5rem 0;
	}

	table td,
	table th {
		padding: 0.8rem;
	}

	table th {
		border-bottom: 0.2rem solid colors.$color-gray-200;
		font-weight: variables.$g-headings-font-weight;
		text-align: left;
	}

	table td {
		border-bottom: 1px solid colors.$color-gray-100;
	}

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	.c-button {
		text-decoration: none;
	}

	pre {
		background-color: colors.$color-gray-50;
		max-width: 100%;
		max-height: 100%;
		margin: 10px 0;
		padding: 15px;
		overflow: auto;
		border-radius: 3px;
		color: #666;
		font-family: monospace;
		font-size: 14px;
		font-weight: normal;
		line-height: 16px;
		word-wrap: break-word;
		white-space: pre-wrap;
	}

	pre,
	code {
		font-family: variables.$g-code-font-family;
	}

	pre pre {
		margin: 0;
		padding: 0;
	}

	code {
		font-size: 85%;
		background-color: colors.$color-gray-50;
		padding: 0.2rem;
		border-radius: 0.2rem;
		color: colors.$color-error;
	}

	/**
* Braft editor output css
*/
	p {
		min-height: 1em;
	}

	.image-wrap {
		img {
			max-width: 100%;
			height: auto;
		}

		&.float-left {
			margin: 0 10px 0 0;
		}

		&.float-right {
			margin: 0 0 0 10px;
		}
	}
}

.c-content--inverse {
	color: colors.$color-gray-100;
}
