@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Content type
   ========================================================================== */

.c-content-type {
	display: flex;
	align-items: center;
	margin: 0.4rem 0;

	p {
		font-size: 1.3rem;
		color: colors.$color-gray-500;
		text-transform: uppercase;
	}

	.o-svg-icon {
		margin-right: 0.4rem;
		width: 1.8rem;
		height: 1.8rem;
	}
}

.c-content-type--collection .o-svg-icon {
	color: colors.$color-ocean-green;
}

.c-content-type--audio .o-svg-icon {
	color: colors.$color-teal-bright;
}

.c-content-type--video .o-svg-icon {
	color: colors.$color-yellow;
}

.c-content-type--bundle .o-svg-icon {
	color: colors.$color-tapestry;
}

.c-content-type--assignment .o-svg-icon {
	color: colors.$color-french-rose;
}
