@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Content header
   ========================================================================== */

.c-content-header__header {
	font-size: 1.8rem;
	font-weight: variables.$g-headings-font-weight;
	margin: 0 0 0.6rem;

	a {
		text-decoration: none;
	}

	.c-content-header--large & {
		font-size: 3.2rem;
	}

	.c-content-header--small & {
		font-size: 1.6rem;
	}
}

.c-content-header__meta {
	display: flex;
	align-items: center;
	color: colors.$color-gray-300;

	& > *:not(:last-child) {
		padding-right: 0.8rem;
		margin-right: 0.8rem;
		border-right: 1px solid colors.$color-gray-100;
	}

	a {
		color: colors.$color-gray-400;
		text-decoration: underline;
		margin: 0 0.2rem; // Whitespace control fix
	}
}
