.avo__c-datepicker {
	.react-datepicker,
	.react-datepicker__current-month {
		font-size: 11.2px;
	}

	.react-datepicker__day,
	.react-datepicker__day-name {
		margin: 2.3px;
		width: 23px;
		line-height: 23.8px;
	}

	.avo__c-datepicker {
		display: flex;
		width: 100%;

		// Override styles from hetarchief react-components
		.react-datepicker__current-month {
			&.react-datepicker__current-month--hasYearDropdown.react-datepicker__current-month--hasMonthDropdown,
			&.react-datepicker__current-month--hasMonthYearDropdown {
				display: flex;
			}
		}

		// Override styles from hetarchief react-components
		.react-datepicker__navigation {
			&--previous,
			&--next {
				display: flex;
			}
		}

		.react-datepicker-wrapper {
			width: 100%;
		}

		&--date {
			flex-grow: 1;
			min-width: 14rem;

			.c-input {
				border-radius: 4px 0 0 4px;
			}
		}

		&--time {
			flex-grow: 1;

			.c-input {
				border-left: 0;
				border-radius: 0 4px 4px 0;
				min-width: 7rem;
				white-space: initial;
			}
		}

		[role="alert"] {
			display: none !important;
		}
	}
}
