.c-collection-or-bundle-edit__draggable-item {

	.o-flex__item:first-child > div {
		width: 60px;
		height: 40px;
		margin: 5px 15px 5px 5px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 3px;
	}
}
