@use "../settings/colors" as colors;

/* ==========================================================================
   Component: Filter dropdown
   ========================================================================== */

.c-filter-dropdown-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 1.8rem;

	> li {
		margin: 0 1.2rem 1.2rem 0;
	}
}

.c-filter-dropdown__options {
	display: block;
	position: relative;
	color: colors.$color-gray-700;
	border-radius: 0.3rem;

	.o-svg-icon {
		position: relative;
	}
}

.c-filter-dropdown {
	display: flex;
}

.c-filter-dropdown__label {
	margin-right: 0.4rem;
}

.c-filter-dropdown--no-bg {
	background-color: #fff;
}
