@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: form help text
   ---
   Help text + Errors on forms
   ========================================================================== */

.c-form-help-text {
	color: colors.$color-gray-400;
	display: block;
	font-size: 1.3rem;

	.c-input + & {
		margin-top: 0.4rem;
	}
}

.c-form-help-text--error {
	color: colors.$color-error;

	a {
		color: colors.$color-error;
	}
}

.c-form-help-text + .c-form-help-text {
	margin-top: 0.4rem;
}
