@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

$component: "c-image-title-text-button-wrapper";

.#{$component} {
	&--image {
		&-right {
			@media screen and (max-width: variables.$o-grid-bp2) {
				flex-direction: column-reverse;

				> *:first-child {
					margin-top: variables.$g-spacer-unit * 2;
				}
			}

			@media screen and (min-width: (variables.$o-grid-bp2)) {
				flex-direction: row-reverse;
			}
		}
	}
}
