@use "sass:math";
@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

.c-inline-title-edit {
	max-width: 100%;

	.c-heading {
		flex-grow: 1;
		min-width: 0;
	}

	.c-content-input {
		max-width: 100%;
		min-height: 1.25em; // Equal to h2-title's line-height
		position: relative;
		transform: translateY(2px); // Visually center
		min-width: 0;

		&__icon {
			align-items: center;
			margin-left: 1rem;

			&--start {
				margin-left: 0;
			}
		}

		&--open {
			width: 480px;

			&:before {
				background: #fff;
				border-radius: 4px;
				border: 1px solid colors.$color-gray-200;
				content: "";
				display: block;
				inset: math.div(variables.$g-spacer-unit, -2);
				pointer-events: none;
				position: absolute;
				transform: translateY(-2px); // Account for visual centering
				z-index: 0;
			}
		}

		> span,
		input,
		div {
			z-index: 1;
		}

		&__submit,
		&__cancel {
			place-self: center;
			transform: translateY(-2px); // Account for visual centering
		}

		&__submit {
			color: colors.$color-teal-bright;
		}

		&__cancel {
			margin-right: math.div(variables.$g-spacer-unit, 2);
		}
	}

	&__error {
		margin-top: variables.$g-spacer-unit;
		font-size: variables.$g-base-font-size;
	}
}
