@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Text Field
   ---
   Styles for text inputs
   ========================================================================== */

/* Mixins
   ========================================================================== */

@mixin textfield-focus {
	&:focus {
		outline: 0;
		border-color: variables.$c-input-accent-color;
		box-shadow: inset 0 0 0 0.1rem variables.$c-input-accent-color;
	}
}

@mixin textfield-transition {
	transition: all 0.15s ease-in-out;
}

/* Component
   ========================================================================== */

.c-input {
	border-radius: variables.$c-input-border-radius;
	background-color: variables.$c-input-bg-color;
	border: 1px solid variables.$c-input-border-color;
	font-size: inherit;
	height: 3.6rem;
	padding: variables.$c-input-padding;
	width: 100%;
	appearance: none;
	@include textfield-transition;
	@include textfield-focus;

	&[disabled] {
		background-color: colors.$color-gray-100;
	}
}

.o-form-group--error {
	border-color: variables.$c-input-error-accent-color;

	&:focus {
		outline: 0;
		border-color: variables.$c-input-error-accent-color;
		box-shadow: 0 0 0 2px rgba(variables.$c-input-error-accent-color, 0.2);
	}
}

textarea.c-input {
	height: auto;
	line-height: 1.5;
}

// Heights (for textareas)
textarea.c-input--h-small {
	height: 12rem;
}

textarea.c-input--h-medium {
	height: 16rem;
}

textarea.c-input--h-large {
	height: 20rem;
}

// Widths
.c-input--w-xsmall {
	width: 4rem;
}

.c-input--w-small {
	width: 9.6rem;
}

.c-input--w-medium {
	width: 16rem;
}

.c-input--w-large {
	width: 44rem;
}

.c-input[readonly] {
	background-color: variables.$c-input-readonly-border-color;
}

.c-input--code {
	font-family: variables.$g-code-font-family;
	line-height: 2.4rem;
	font-size: 85%;
}

/* Input With Icon
   ========================================================================== */

.c-input-with-icon {
	display: block;
	position: relative;

	.c-input {
		padding-left: 3rem;
	}

	.o-svg-icon {
		left: 0.8rem;
		opacity: 0.5;
		position: absolute;
		top: 0.9rem;
		width: 1.8rem;
		height: 1.8rem;
	}
}

.c-input-with-icon-right {
	display: block;
	position: relative;

	.c-input {
		padding-right: 3rem;
	}

	.o-svg-icon {
		right: 0.8rem;
		opacity: 0.5;
		position: absolute;
		top: 0.9rem;
		width: 1.8rem;
		height: 1.8rem;
	}
}

.c-input-group {
	display: flex;
	align-items: flex-start;
}

.c-input-group__item {
	flex: 1;
}

/* Input group append
   ========================================================================== */

.c-input-group__append {
	height: 3.6rem;
	margin-left: 1rem;
}

/* Input group prepend
   ========================================================================== */

.c-input-group__prepend {
	height: 3.6rem;
	width: 3.6rem;
	color: colors.$color-gray-400;
	background-color: colors.$color-gray-50;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: -0.1rem;
	padding: 0 0.8rem;
	border-radius: 0.3rem 0 0 0.3rem;
	border: 1px solid colors.$color-gray-150;
}

.c-input-group > .c-input:not(:first-child) {
	border-radius: 0 0.3rem 0.3rem 0;
}
