@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Labels
   ========================================================================== */

.c-label {
	display: flex;
	align-items: center;
}

.c-label + .c-label {
	margin-left: 1.6rem;
}

.c-label-swatch {
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 100%;
	display: block;
	line-height: 0;
	font-size: 0;
	flex-shrink: 0;
}

.c-label-text {
	padding-left: 0.8rem;
	flex-shrink: 0;
}

/* Color input field
========================================================================== */

.c-label-filter {
	border: 1px solid colors.$color-gray-100;
	padding: 0.2rem 1rem 0.2rem 1.2rem;
	border-radius: 0.3rem;
	height: 3.6rem;
	align-items: center;
	display: flex;
}

.c-label-options {
	.o-svg-icon svg {
		color: colors.$color-gray-700;
	}
}

/* Color input field dropdown
========================================================================== */

.c-label-dropdown {
	max-width: 15rem;

	.c-label-swatch-picker {
		display: flex;
		flex-wrap: wrap;
		padding: 1.2rem 0.8rem;
	}

	.c-label-swatch {
		margin: 0.8rem;
		width: 3.2rem;
		height: 3.2rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			transform: scale(1.1);
		}

		.o-svg-icon {
			width: 1.6rem;
			height: 1.6rem;
			display: none;
			color: rgba(255, 255, 255, 0.9);
		}

		&:focus .o-svg-icon {
			display: block;
		}
	}
}

/* Different label swatch colors
========================================================================== */

.c-label-swatch--color-1 {
	background-color: colors.$color-wine-red;
}

.c-label-swatch--color-2 {
	background-color: colors.$color-ocean-green;
}

.c-label-swatch--color-3 {
	background-color: colors.$color-tapestry;
}

.c-label-swatch--color-4 {
	background-color: colors.$color-green;
}

.c-label-swatch--color-5 {
	background-color: colors.$color-yellow;
}

.c-label-swatch--color-6 {
	background-color: colors.$color-dark-orange;
}

.c-label-swatch--color-7 {
	background-color: colors.$color-silver;
}

.c-label-swatch--color-8 {
	background-color: colors.$color-night-blue;
}

.c-label-swatch--color-9 {
	background-color: colors.$color-soft-blue;
}

.c-label-swatch--color-10 {
	background-color: colors.$color-french-rose;
}
