@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Media card list
   ========================================================================== */

.c-media-card-list {
	.c-media-card {
		margin-bottom: 2.4rem;
	}

	.c-toolbar {
		margin-bottom: variables.$g-spacer-unit * 2;

		@media screen and (max-width: (variables.$g-bp2 - 1px)) {
			// https://meemoo.atlassian.net/browse/AVO-2246
			// This code prevents long text from overstepping the container
			// and is critical to ensure the navigation and popups display correctly
			// but don't ask me why or how...
			flex-direction: column;
			align-items: flex-start;

			&__left {
				margin-bottom: variables.$g-spacer-unit;
			}
		}
	}
}
