@use "sass:color";
@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Navbar
   ---
   A container for navigational elements
   ========================================================================== */

.c-navbar {
	height: variables.$g-bar-size-regular;
	width: 100%;
}

.c-navbar--auto {
	height: auto;
}

.c-navbar--white {
	background-color: #fff;
}

.c-navbar--bg-alt {
	background-color: colors.$color-gray-50;
}

.c-navbar--large {
	height: variables.$g-bar-size-large;
}

.c-navbar--huge {
	height: variables.$g-bar-size-huge;
}

.c-navbar--inverse {
	background-color: color.adjust(colors.$color-night-blue, $lightness: -5%);
}

.c-navbar--fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: variables.$g-c-global-navbar-z;
	box-shadow: 0 0 0.8rem 0 rgba(colors.$color-gray-500, 0.35);
}

.c-navbar--sticky {
	position: sticky;
	top: 6.4rem;
	left: 0;
	z-index: variables.$g-c-global-navbar-z;
	box-shadow: 0 0 0.8rem 0 rgba(colors.$color-gray-500, 0.35);
	padding: 1.6rem 0;
}

/* Bordered equivalents
	========================================================================== */

.c-navbar--bordered-top {
	border-top: 0.1rem solid colors.$color-gray-100;
}

.c-navbar--bordered-bottom {
	border-bottom: 0.1rem solid colors.$color-gray-100;

	&.c-navbar--inverse {
		border-bottom: 0.1rem solid color.adjust(colors.$color-night-blue, $lightness: -10%);
		box-shadow: none;
	}
}
