/* ==========================================================================
   Component: Navbar
   ---
   A container for navigational elements
   ========================================================================== */

.c-navbar {
	height: $g-bar-size-regular;
	width: 100%;
}

.c-navbar--auto {
	height: auto;
}

.c-navbar--white {
	background: #FFF;
}

.c-navbar--bg-alt {
	background: $color-gray-50;
}

.c-navbar--large {
	height: $g-bar-size-large;
}

.c-navbar--huge {
	height: $g-bar-size-huge;
}

.c-navbar--inverse {
	background: darken($color-night-blue, 5%);
}

.c-navbar--fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $g-c-global-navbar-z;
	box-shadow: 0 0 .8rem 0 rgba($color-gray-500, .35);
}

.c-navbar--sticky {
	position: sticky;
	top: 6.4rem;
	left: 0;
	z-index: $g-c-global-navbar-z;
	box-shadow: 0 0 .8rem 0 rgba($color-gray-500, .35);
	padding: 1.6rem 0;
}

/* Bordered equivalents
	========================================================================== */

.c-navbar--bordered-top {
	border-top: 0.1rem solid $color-gray-100;
}

.c-navbar--bordered-bottom {
	border-bottom: 0.1rem solid $color-gray-100;

	&.c-navbar--inverse {
		border-bottom: 0.1rem solid darken($color-night-blue, 10%);
		box-shadow: none;
	}
}
