@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: News article
   ========================================================================== */

.c-news-article {
	width: 100%;
	margin: 0 0 3.2rem;
	padding: 0 0 3.2rem;
}

.c-news-article__image {
	margin-right: 2.4rem;

	img {
		width: 100%;
	}
}

.c-news-article__content header,
.c-article header {
	p {
		color: colors.$color-gray-300;
		margin: 0 0 0.4rem;

		a {
			color: colors.$color-gray-300;
			border-bottom: 1px solid colors.$color-gray-150;
		}
	}
}
