.c-button.c-button--primary {
	&.c-button-klascement,
	&.c-button-smartschool {
		height: 3.6rem;
		padding: 0 1.6rem 0 1rem;

		.c-button__content {
			justify-content: start;
		}

		.c-button__icon {
			width: 2.8rem;
			height: 2.8rem;
		}

		.c-button__label {
			padding-left: 1.2rem;
		}
	}

	&.c-button-smartschool,
	&.c-button-smartschool:hover,
	&.c-button-smartschool:active,
	&.c-button-smartschool:visited {
		background: $color-smartschool;
		border-color: $color-smartschool;
	}

	&.c-button-smartschool {
		.c-button__label {
			border-left: 1px solid darken($color-smartschool, 8%);
		}
	}

	&.c-button-klascement,
	&.c-button-klascement:hover,
	&.c-button-klascement:active,
	&.c-button-klascement:visited {
		background: $color-klascement;
		border-color: $color-klascement;
	}

	&.c-button-klascement {
		.c-button__label {
			border-left: 1px solid darken($color-klascement, 8%);
		}
	}

	&.c-button-smartschool,
	&.c-button-klascement {
		&:hover {
			opacity: 0.9;
		}
	}
}
