@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

// Note: swapped file to px to avoid inconsistencies in rem

.c-button {
	&.c-button-klascement,
	&.c-button-smartschool,
	&.c-button-acmidm,
	&.c-button-itsme,
	&.c-button-mail,
	&.c-button-leerid {
		min-height: 38px;
		padding: 0 12px 0 6px;

		.c-button__content {
			justify-content: start;
		}

		.c-button__icon {
			min-width: 24px;
			min-height: 24px;
		}

		.c-button__label {
			padding-left: 12px;
			margin-left: 6px;
			border-left: 1px solid rgba(0, 0, 0, 0.08);
		}
	}

	&.c-button-smartschool,
	&.c-button-smartschool:hover,
	&.c-button-smartschool:active,
	&.c-button-smartschool:visited {
		background-color: colors.$color-smartschool !important;
		border: 1px solid colors.$color-smartschool !important;
	}

	&.c-button-klascement,
	&.c-button-klascement:hover,
	&.c-button-klascement:active,
	&.c-button-klascement:visited {
		background-color: colors.$color-klascement !important;
		border: 1px solid colors.$color-klascement !important;
	}

	&.c-button-smartschool,
	&.c-button-klascement {
		&:hover {
			opacity: 0.9;
		}
	}

	&.c-button-mail {
		.c-button__icon {
			transform: scale(0.75);
		}
	}
}
