/* ==========================================================================
   Component: Panel
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-panel-padding-horizontal: 2.4rem !default;
$c-panel-padding-vertical: 2.4rem !default;
$c-panel-border-color: $color-gray-150 !default;
$c-panel-border-radius: 0.3rem !default;

/* Component
   ========================================================================== */

.c-panel {
	display: flex;
	flex-direction: column;
}

.c-panel__title {
	font-weight: 500;
	font-size: 1.6rem;
	color: $color-gray-900;
}

.c-panel__header {
	align-items: center;
	display: flex;
	height: 5.6rem;
}

.c-panel__body {
	border: 0.1rem solid $c-panel-border-color;
	background: #FFF;
	padding: $c-panel-padding-vertical $c-panel-padding-horizontal;

	@media (max-width: $g-bp2 - 1) {
		padding: $c-panel-padding-vertical*0.66 $c-panel-padding-horizontal*0.66;
	}

	&:only-child {
		border-radius: $c-panel-border-radius;
	}
}

.c-panel__header + .c-panel__body:last-child {
	border-radius: $c-panel-border-radius;
}

.c-panel__body h3:first-child {
	margin-top: 0;
}

.c-panel__body + .c-panel__body {
	border-top: none;
	padding: $c-panel-padding-vertical $c-panel-padding-horizontal;
	border-bottom-left-radius: $c-panel-border-radius;
	border-bottom-right-radius: $c-panel-border-radius;
}

// Class needed to have correct rounded corners on cards with multiple card bodies
.c-panel--multiple-bodies .c-panel__header + .c-panel__body {
	border-top-left-radius: $c-panel-border-radius;
	border-top-right-radius: $c-panel-border-radius;
}

.c-panel__body--spaced-out-x {
	padding: $c-panel-padding-vertical $c-panel-padding-horizontal*3;

	& + .c-panel__body--spaced-out-x {
		padding: $c-panel-padding-vertical $c-panel-padding-horizontal*3;
	}
}
