@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Projects grid
   ========================================================================== */

@media (min-width: variables.$g-bp2) {
	.c-projects-grid {
		display: grid;
		align-items: stretch;
		grid-gap: 0.8rem;
	}
}

.c-projects-grid-item {
	position: relative;
	margin: 0.8rem;

	a {
		text-decoration: none;
		color: #666;

		&:hover,
		&:focus {
			color: #000;
			transition: 0.18s color ease-in;

			img {
				transition: 0.18s opacity ease-in;
				opacity: 0.8;
			}
		}
	}
}

.c-projects-grid-item__image {
	height: 0;
	padding-bottom: 40%;

	img {
		width: 100%;
	}
}

.c-projects-grid-item__content {
	position: absolute;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1.2rem 2.4rem;
	color: #fff;
	background-color: rgba(colors.$color-gray-700, 0.7);
}

.c-projects-grid-item__title {
	font-size: 1.6rem;
	font-weight: 500;
}

@media (min-width: variables.$g-bp2) {
	.c-projects-grid-item {
		margin: 0;
	}

	.c-projects-grid-item:first-child {
		grid-column: 1/5;
		grid-row: 1/3;
	}

	.c-projects-grid-item:nth-child(2) {
		grid-column: 5 / 7;
		grid-row: 1 / 2;
	}

	.c-projects-grid-item:nth-child(3) {
		grid-column: 5 / 7;
		grid-row: 2 / 3;
	}
}
