@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: Search result list
   ========================================================================== */

.c-search-result-list {
	.c-search-result {
		margin-bottom: 3.2rem;

		&__title {
			margin-bottom: variables.$g-spacer-unit;

			@media screen and (min-width: variables.$g-bp2) {
				margin-bottom: 0;
			}
		}
	}
}
