:root {
	--toastify-font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	--toastify-font-size: 1.4rem;
	--toastify-toast-width: 30rem;
}

.Toastify__toast--default {
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
