/* ==========================================================================
   Component: User dropdown
   ========================================================================== */

.c-user-dropdown-parent {
	display: block;
	height: 100%;
	text-decoration: none;
}

.c-user-dropdown {
	display: flex;
	align-items: center;
	color: #FFF;
	border: none;
}

.c-user-dropdown__username {
	margin: 0 0.5rem;
}

.c-user-dropdown .o-svg-icon {
	opacity: 0.5;
}
