@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

/* ==========================================================================
   Component: USPs & grid
   ========================================================================== */

.c-usp-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
	grid-gap: 3.2rem;
	align-items: center;
	justify-items: center;
}

.c-usp {
	text-align: center;
	padding: 2.4rem 0;
	max-width: 32rem;
}

.c-usp__icon {
	background-color: #3a586f;
	border-radius: 100%;
	margin: 0 auto 2.4rem;
	display: flex;
	width: 5.6rem;
	height: 5.6rem;

	@media (min-width: variables.$g-bp2) {
		width: 8rem;
		height: 8rem;
	}

	img {
		margin: auto;
		width: 3.2rem;
		height: 3.2rem;

		@media (min-width: variables.$g-bp2) {
			width: 4.8rem;
			height: 4.8rem;
		}
	}
}

.c-usp__title {
	margin: 1.6rem 0;
	font-weight: 500;
	font-family: variables.$g-headings-font-family;
	font-size: 2.1rem;
}
