@use "../../../styles/settings/variables" as variables;
@use "../../../styles/settings/colors" as colors;

.c-assignment-response-page {
	.o-container--full-width {
		width: 100%; // Search block needs to be full width with grey background
	}

	.c-item-detail__header {
		background-color: transparent;
		padding-bottom: 0;
	}

	.m-bundle-detail > .m-bundle-detail-header,
	.m-collection-detail > .c-header {
		background-color: transparent;
	}

	.c-return--search-results {
		margin: 1rem 0;
		padding: 0.9rem 0 2.5rem;
		height: 4rem;
	}

	.c-button--relative-link {
		font-size: inherit;
		text-align: inherit;
		text-decoration: none;
		background-color: transparent;
		max-height: none;

		&:hover {
			background-color: transparent;
			text-decoration: underline;
		}

		.c-media-card-thumb {
			min-width: 14.7rem;
		}
	}

	.c-search-result__image .c-button--relative-link {
		width: 100%;
	}

	.c-form-group--full-width {
		width: 100%;
	}

	@keyframes flash-pill {
		from {
			opacity: 1;
		}
		to {
			opacity: 0.3;
		}
	}

	.c-tabs {
		.c-tab-item {
			white-space: nowrap;
		}

		.c-pill.animated {
			background-color: colors.$color-yellow;
			color: white;
			border-color: transparent;
			box-shadow: 0 0 10px 2px darken(colors.$color-yellow, 10%);
			animation-name: flash-pill;
			animation-duration: 0.3s;
			animation-iteration-count: 8;
			animation-timing-function: ease-in;
			animation-direction: alternate;
		}
	}

	// Limit the description with more/less buttons
	.c-collapsible-column {
		@media screen and (min-width: variables.$g-item-fragment-column-bp) {
			max-height: 390px;
		}
	}
}

body:not(.c-interactive-tour--in-progress) .c-assignment-response-page .c-assignment-heading {
	@media screen and (min-width: variables.$g-bp2) {
		position: sticky;
		top: variables.$g-bar-size-regular;
		z-index: variables.$g-c-local-toolbar-z;

		// Avoid text in the scrollable to be visible above the sticky header
		// https://meemoo.atlassian.net/issues/AVO-3324
		transform: translateY(-2px);
		margin-bottom: -2px;

		&--scrolled {
			.c-assignment-heading__top {
				.c-toolbar__left {
					margin-bottom: 0;
				}
			}

			.c-assignment-heading__title {
				.c-return {
					display: none;
				}
				.u-spacer-top-l {
					margin-top: 0 !important;
				}
			}

			// Metadata container
			> div:nth-child(2) {
				display: none;
			}
		}
	}
}
