@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

.c-education-levels-tag {
	border-width: 2px;
	width: 10em;
	display: inline-flex;
	font-size: 1.2rem;
	align-self: center;
	padding: 0.3rem 0;
	background-color: transparent;

	> * {
		margin: auto;
	}

	&__kleuteronderwijs {
		border-color: colors.$color-ocean-green;
	}

	&__lageronderwijs {
		border-color: colors.$color-teal-bright;
	}

	&__secundaironderwijs {
		border-color: colors.$color-dark-orange;
	}

	&__deeltijdskunstonderwijs {
		border-color: colors.$color-tapestry;
	}

	&__hogeronderwijs {
		border-color: colors.$color-green;
	}

	&__volwassenenonderwijs {
		border-color: colors.$color-yellow;
	}
}
