@import '../../../../../styles/settings/colors';
@import '../../../../../styles/settings/variables';

/* ==========================================================================
   Component: Table
   ---
   Table styling
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-table-background-color: #FFF !default;
$c-table-border-color: $color-gray-100 !default;
$c-table-row-odd-color: $color-gray-50 !default;
$c-table-row-selected-color: #FFF !default;
$c-table-row-selected-bg: $color-primary !default;

/* Component
   ========================================================================== */

.c-table {
	width: 100%;

	th,
	td {
		text-align: left;
		padding: 0.8rem 0;
		position: relative;
	}

	th {
		font-weight: 500;
	}

	tr {
		.c-table__checkbox-column {
			width: 4rem;
		}

		&.u-clickable:hover {
			background-color: $color-gray-50;
		}
	}

	&:not(.c-table--styled) {
		th,
		td {
			&:first-child {
				padding-left: 1rem;
			}
			&:last-child {
				padding-right: 1rem;
			}
		}
	}
}

.c-table--styled {
	th {
		border-bottom: 0.2rem solid $c-table-border-color;
		vertical-align: top;
	}

	td {
		border-bottom: 0.1rem solid $c-table-border-color;

		input[type=checkbox] {
			margin: 0 auto;
		}
	}

	td,
	th {
		padding: 1.6rem;

		.c-button {
			margin-bottom: -0.8rem;
			margin-top: -0.8rem;
		}
	}
}

.c-table--bordered {
	border: 1px solid $c-table-border-color;
	border-radius: 0.3rem;
	border-collapse: separate;
}

.c-table--nowrap {
	th,
	td {
		white-space: nowrap;
	}
}

.c-table--align-middle {
	th,
	td {
		vertical-align: middle;
	}
}

th.c-table__header--sortable {
	cursor: pointer;

	a {
		display: block;
		padding: 1.6rem;
	}

	.o-svg-icon {
		color: $color-gray-300;
	}

	.c-table__header--sortable-icon {
		opacity: 0.5;
	}
}

.c-table__row--selected {
	td {
		background-color: $color-gray-100;
		border-color: $color-gray-300;
	}
}

.c-table--striped {
	tbody tr:nth-child(even) {
		background: $c-table-row-odd-color;
	}
}

.c-table--no-margin {
	margin: 0;
}

.c-table--horizontal {
	th {
		width: 18rem;
	}
}

/* Invisible table structure
   ========================================================================== */

.c-table.c-table--invisible {
	border: 0;
	width: 100%;

	tr {
		th,
		td {
			border: 0;
			padding-left: 0;
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;
		}
	}
}

/* Table column widths
   ========================================================================== */

$tableColCount: 16;
$i: 1;

@while $i < $tableColCount {
	.o-table-col-#{$i} {
		width: #{$i / $tableColCount * 100%};
	}

	$i: $i + 1;
}

/* Untable a table
   ========================================================================== */

.c-table--untable {
	tr {
		display: block;

		th {
			display: block;
		}

		td {
			display: block;
		}
	}

	@media (min-width: $g-bp2) {
		tr {
			display: table-row;

			th {
				display: table-cell;
			}

			td {
				display: table-cell;
			}
		}
	}
}

/* Responsive table
   Adapted from Bootstrap 4
   ========================================================================== */

.c-table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

	// Prevent double border on horizontal scroll due to use of `display: block;`
	> .c-table--bordered {
		border: 0;
	}
}

/* Card + table context
   ========================================================================== */

.c-panel .c-table {
	background: #FFF;

	tr td {
		padding: 1.6rem;

		&:first-child {
			padding-left: 2.4rem;
		}

		&:last-child {
			padding-right: 2.4rem;
		}
	}
}
