// TODO: remove this file once BlockMediaList has been updated
.c-block-media-list {
	.c-cta-item {
		width: 100%;
		height: calc(100% - 2.4rem);
		margin-bottom: 2.4rem;
		max-width: 45rem;
	}

	.c-cta__content {
		height: 100%;
		padding: 2.4rem;

		> .c-content {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			height: 100%;
		}

		.c-button {
			margin-top: auto;
		}
	}

}
