services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: avo2-client
    container_name: avo2-client
    ports:
      - "8080:8080"
    env_file: .env
    networks:
      - avo2-client-network
    volumes:
      - .:/opt/react-app/app:delegated
      # bind-mounting these two files in will let you add packages during development without rebuilding
      - ./package.json:/opt/react-app/package.json
      - ./package-lock.json:/opt/react-app/package-lock.json
      # this is a workaround to prevent host node_modules from accidentally getting mounted in container
      # in case you want to use node/npm both outside container for test/lint etc. and also inside container
      # this will overwrite the default node_modules dir in container so it won't conflict with our
      # /opt/app/node_modules location.
      - notused:/opt/react-app/app/node_modules

networks:
  avo2-client-network:

volumes:
  notused:
