@use "../../../styles/settings/variables" as variables;
@use "../../../styles/settings/colors" as colors;

.c-draggable-block {
	.o-flex__item:first-child > div {
		width: 60px;
		height: 40px;
		margin-right: variables.$g-spacer-unit * 2;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 3px;
	}

	&__placeholder {
		opacity: 0.4;
	}
}
