@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

$border-light: 1px solid colors.$color-gray-100;

.c-add-colleague {
	display: flex;

	.c-button.c-button--primary {
		border-radius: 0;
		color: colors.$color-navy;

		svg * {
			fill: colors.$color-navy;
		}
	}

	&__error {
		margin-top: 0.5rem;
		color: colors.$color-error;
	}

	&__select.c-button {
		.c-button__content {
			justify-content: space-between;
		}

		&.c-button--primary {
			width: 100%;
			border: $border-light;
			border-right: none;
			background-color: variables.$g-base-background;
			text-transform: capitalize;

			&:hover,
			:active,
			:active:focus {
				background-color: variables.$g-base-background;
				border-color: colors.$color-gray-100;
			}
		}
	}

	.c-input {
		width: 50%;
		border: $border-light;
		border-right: none;
		border-radius: variables.$c-input-border-radius 0 0 variables.$c-input-border-radius;
	}

	.c-dropdown__trigger {
		flex-grow: 1;
		margin-left: 0 !important;
	}

	&__button.c-button.c-button--secondary {
		min-width: max-content;
		border: $border-light;
		border-radius: 0 variables.$c-input-border-radius variables.$c-input-border-radius 0;
		background-color: colors.$color-gray-50;
		margin-left: 0;
	}

	.c-dropdown__content-open {
		border: $border-light;
		margin-top: 0;
		width: fit-content;
	}

	.c-add-colleague__button {
		margin-left: 0;
	}
}

.c-colleagues-info-list {
	display: grid;
	row-gap: 1rem;
}

.c-colleague-info-row {
	display: grid;
	align-items: center;
	column-gap: 1rem;
	grid-template-columns: max-content 1fr 15% 15%;
	font-size: 1.5rem;
	color: colors.$color-navy;

	&__avatar {
		.c-avatar img {
			width: 100%;
			height: 100%;
		}

		&--pending {
			width: 3.2rem;
			height: 3.2rem;
			border-radius: 50%;
			border: dashed 1px colors.$color-gray-200;
		}
	}

	&__info {
		display: grid;

		&__email {
			font-size: 1.2rem;
			color: colors.$color-gray-200;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	&__rights {
		justify-self: flex-end;
		text-transform: capitalize;
	}

	&__action {
		justify-self: flex-end;
	}
}

.c-icon-button {
	background-color: variables.$g-base-background;
	border: none;
	cursor: pointer;

	svg {
		fill: colors.$color-navy;
	}

	&:not(:first-child) {
		margin-left: 0.6rem;
	}
}
