.c-login-with-archief.c-login-button--pupil {
	&.c-button.c-button--inline-link {
		.c-button__label:first-child {
			padding-left: 0;
			margin-left: 0;
			border-left: 0;
		}

		&:hover {
			background-color: unset;
		}
	}
}

.c-button-smartschool {
	.o-svg-icon {
		bottom: 0;
		margin-right: 0;
	}
}

.c-button-smartschool{
	.o-svg-icon {
		* {
			fill: white !important;
		}
	}
}
