@import "../../styles/settings/variables";

.m-login-options {
	&__wrapper {
		padding: $g-spacer-unit * 4;
	}

	hr {
		border-color: $color-gray-100;
		border-style: solid;
		margin: $g-spacer-unit * 3 0;
	}

	.c-login-with-archief.c-login-button--pupil {
		&.c-button.c-button--inline-link {
			.c-button__label:first-child {
				padding-left: 0;
				margin-left: 0;
				border-left: 0;
			}

			&:hover {
				background-color: unset;
			}
		}
	}

	.c-button-smartschool,
	.c-button-klascement,
	.c-button-itsme {
		.o-svg-icon {
			bottom: 0;
			margin-right: 0;
		}
	}

	.c-button-smartschool,
	.c-button-klascement {
		.o-svg-icon {
			* {
				fill: white !important;
			}
		}
	}

	.c-tabs {
		border-bottom: 1px solid $c-register-login-view-modal-border-color;
	}

	.c-tab-item {
		background-color: $c-register-login-view-modal-background-color;
		flex-grow: 1;
		justify-content: center;

		&.c-tab-item__active {
			background-color: white;
			box-shadow: inset 0 -0.2rem 0 white;
		}

		&:not(:first-of-type) {
			border-left: 1px solid $c-register-login-view-modal-border-color;
		}
	}
}

.m-login-options__title {
	.o-svg-icon {
		margin-right: 1.2rem;
	}
}
