@use "../../styles/settings/variables" as variables;

.m-login-options {
	&__wrapper {
		padding: variables.$g-spacer-unit * 4;
	}

	hr {
		border-color: colors.$color-gray-100;
		border-style: solid;
		margin: variables.$g-spacer-unit * 3 0;
	}

	.c-tabs {
		border-bottom: 1px solid variables.$c-register-login-view-modal-border-color;
	}

	.c-tab-item {
		background-color: variables.$c-register-login-view-modal-background-color;
		flex-grow: 1;
		justify-content: center;

		&.c-tab-item__active {
			background-color: white;
			box-shadow: inset 0 -0.2rem 0 white;
		}

		&:not(:first-of-type) {
			border-left: 1px solid variables.$c-register-login-view-modal-border-color;
		}
	}
}

.m-login-options__title {
	.o-svg-icon {
		margin-right: 1.2rem;
	}
}
