.m-login-options {
	.c-button-smartschool,
	.c-button-klascement,
	.c-button-acmidm,
	.c-button-itsme {
		.o-svg-icon {
			bottom: 0;
			margin-right: 0;
		}
	}

	.c-button-smartschool,
	.c-button-klascement {
		.o-svg-icon {
			* {
				fill: white !important;
			}
		}
	}
}
