@use "../../styles/settings/colors" as colors;

.m-stamboek-input {
	position: relative;

	.a-info-icon {
		pointer-events: none;
	}

	.a-stamboek-image {
		width: 200px;
	}

	.m-stamboek-input-field-wrapper {
		position: relative;
	}

	.c-tooltip-trigger {
		position: absolute;
		right: 10px;
		top: 6px;
	}
}
