@import '../../styles/settings/variables';

/* Ensure the Zendesk widget stays behind the modals */
.zEWidget-launcher {
	z-index: $g-c-global-navbar-z !important;
}

.react-datepicker-popper {
	z-index: $g-c-modal-z;
}

// Avoid 1px div causing extra scrollbar in admin dashboard
#announcements {
	top: 0;
}
