@import '../../styles/settings/variables';

/* Ensure the Zendesk widget stays behind the modals */
.zEWidget-launcher {
	z-index: $g-c-global-navbar-z !important;
}

.modal-open #launcher {
	display: none !important;
}

.react-datepicker-popper {
	z-index: $g-c-modal-z;
}

.o-app > .o-container {
	overflow-x: hidden;
}
