@use "../../styles/settings/variables" as variables;

/* Ensure the Zendesk widget stays behind the modals */
.zEWidget-launcher {
	z-index: variables.$g-c-global-navbar-z !important;
}

.modal-open #launcher {
	display: none !important;
}

.disable-document-scroll {
	overflow: hidden;
}

.react-datepicker-popper {
	z-index: variables.$g-c-modal-z;
}

.o-app > .o-container {
	overflow-x: hidden;
	padding-bottom: 10rem; // Add room for dropdown on the complete profile page: https://onderwijs-qas.hetarchief.be/vervolledig-profiel

	.o-container {
		width: 100%;
	}
}

// Avoid 1px div causing extra scrollbar in admin dashboard
#announcements {
	top: 0;
}

// Add links to existing styles components
.c-content .a-link__no-styles,
.a-link__no-styles {
	color: black;
	text-decoration: none;
}
