@import '../../../../../../styles/settings/colors';

.c-block-media-list {
	.c-media-card__cta {
		display: flex;
		flex-direction: column;

		.c-media-card-thumb {
			width: 100%;
			flex: initial;
		}

		.c-thumbnail {
			background-color: $color-gray-50;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			border-radius: 0.3rem;
			width: 100%;
			padding-top: calc(100% * 9 / 16);
			height: auto;

			.c-thumbnail__content {
				position: absolute;
				top: 2rem;
				right: 2rem;
				bottom: 2rem;
				left: 2rem;

				> *:first-child {
					margin-top: 0;
				}
			}
		}
		.c-media-card-content {
			margin-top: 0.8rem;

			p,
			h4 {
				color: transparent !important;
			}
		}
	}

}
