@use "../../styles/settings/variables" as variables;

$spacing-size: 2rem;

.m-error-view {
	min-height: 300px;
	overflow: auto;
	padding: $spacing-size 0 0;

	.c-blankslate {
		background-color: transparent;

		@media screen and (max-width: variables.$g-bp1) {
			padding: $spacing-size;
		}
	}

	.c-toolbar {
		align-items: center;
		justify-content: center;

		.c-toolbar__center {
			position: relative;
			margin-left: 0;
			left: initial;

			.c-toolbar__center-inner {
				margin-left: 0;
				display: block;
				flex: none;
				align-items: initial;
			}
		}
	}
}
