@use "sass:math";

@use "../../styles/settings/colors" as colors;
@use "../../styles/settings/variables" as variables;

$pupil-teacher-tabs-height: 4.4rem;
$column-spacing: 2.2rem;

.c-register-login-view {
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;

	hr {
		border-color: colors.$color-gray-100;
		border-style: solid;
	}

	.o-grid {
		flex-grow: 1;
		margin-right: 0;
		margin-left: 0;
	}

	[class*="o-grid-col"] {
		width: 50%;
		margin-right: 0;
		margin-left: 0;

		&:first-child {
			display: flex;
			padding-left: $column-spacing;
			padding-right: $column-spacing;
			margin-top: $column-spacing;
			margin-bottom: $column-spacing;

			flex-direction: column;
			justify-content: center;

			border-right: 1px solid variables.$c-register-login-view-modal-border-color;
		}

		.account-creation {
			margin-top: $column-spacing;
		}

		&:last-child {
			display: flex;
		}
	}

	.m-login-options__wrapper {
		width: 100%;
		margin: auto;
		padding: 0 1.2rem;
	}

	.avo-logo {
		width: 100%;
		max-width: 160px;
		margin-left: auto;
		margin-right: auto;
	}

	.c-button__label {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.m-register-login__tabs-wrapper {
	// Equate to avo2-components/src/components/Modal/Modal.scss without importing
	padding: 0 (variables.$g-spacer-unit * 1.5); // ensure text is aligned, 12 + 12
	background-color: colors.$color-gray-50;

	.c-tab-item.c-tab-item__active {
		padding: 1.5rem 0;
		margin-right: 1.7rem;
		margin-left: 1.7rem;
		margin-bottom: 0;
	}
}
