@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

.c-nudge-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&__title {
		font-size: 3rem;
	}

	&__options,
	&__description {
		width: 100%;
	}

	&__options {
		max-width: 320px;
	}

	&__description {
		max-width: 360px;
	}

	&__footer {
		width: 100%;
		border-top: 1px solid colors.$color-gray-100;
	}

	&__wrapper {
		.c-modal {
			&__body {
				padding-top: 0;
			}

			&__header--bordered {
				border: 0;
			}
		}

		.c-toolbar {
			padding-bottom: 0;
			min-height: 0;
		}
	}
}
