@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

$border: 0.1rem solid colors.$color-gray-200;

.c-assignment-heading__actions .c-dropdown__content-open {
	padding-top: 0 !important;
}

.c-share-dropdown__container {
	border: $border;
	border-radius: 0.5rem;
	background-color: variables.$g-base-background;
	margin-top: 1rem;
	width: 54rem;
	filter: drop-shadow(0 0.25rem 0.25rem rgba(colors.$color-navy, 0.25));

	.c-tabs {
		width: 100%;
		display: flex;
		background-color: colors.$color-grey-blue;

		.c-tab-item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			background-color: colors.$color-grey-blue;
			border-bottom: $border;
			padding: 1.5rem 0;
			margin-bottom: 0;
			cursor: pointer;
			box-shadow: none;
			border-radius: 0.5rem 0.5rem 0 0;

			&:first-child {
				border-right: $border;
			}

			&__active {
				color: colors.$color-gray-1000;
				background-color: variables.$g-base-background;
				border-bottom: none;
			}
		}
	}
}

.c-share-dropdown__content {
	padding: 2rem;
}
