@import '../../styles/settings/variables';

.m-collection-detail {
	&.hide-behind-login-popup {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
	}

	.c-button-toolbar {
		flex-wrap: wrap;
		justify-content: end;
		row-gap: $g-spacer-unit;
	}
}

.c-collection-list__item {
	margin-bottom: 3.2rem;
	padding-bottom: 3.2rem;
	border-bottom: 1px solid #D6DEE3;

	&:last-child {
		border: none;
	}
}
