@import '../../../styles/settings/colors';
@import '../../../styles/settings/variables';


// Elements
.c-menu-detail__table {
	tr {
		transition: background 500ms ease-in-out;

		&.c-menu-detail__table-row--active {
			background: $color-gray-100;
		}
	}

	td {
		padding: 2rem 1.6rem;

		&.o-table-col-1 {
			width: 10rem;
		}
	}
}

.c-menu-detail__nav-edit {
	li {
		align-items: center;
	}
}

.c-menu-detail__nav-label {
	margin: 0 auto 0 ($g-spacer-unit * 3);
}
