.m-interactive-tour-edit-view {
	.o-form-group__controls {
		position: relative;

		.c-tooltip-component-trigger {
			position: absolute;
			right: 10px;
			top: 8px;
		}
	}

	.c-tooltip-component {
		z-index: 100;
		max-width: 36rem;

		li {
			list-style: disc;
			margin-left: 1.6rem;
		}
	}

	.c-text-input__selector {
		padding: 0.8rem 3.5rem 0.8rem 0.8rem;
	}
}
