@use "../../styles/settings/variables" as variables;

$component: "c-add-block";

.c-modal .#{$component} {
	&__list {
		list-style: none;
		margin: 0;

		&-item {
			cursor: pointer;
			border-radius: 4px;
			border: 1px solid colors.$color-gray-300;
			display: grid;
			grid-template-columns: min-content auto min-content;
			overflow: hidden;
			padding: 0;

			&--disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}
		}

		li {
			&:not(:first-child) {
				margin-top: variables.$g-spacer-unit * 3;
			}
		}
	}

	&__icon,
	&__actions {
		align-items: center;
		display: flex;
	}

	&__icon {
		background: colors.$color-gray-100;
		border-right: 1px solid colors.$color-gray-300;
		color: colors.$color-dark-night-blue;
		padding: variables.$g-spacer-unit * 2;
	}

	&__content {
		padding: variables.$g-spacer-unit * 2;

		.c-heading {
			margin-top: 0;
		}
	}

	&__description {
		color: colors.$color-gray-300;
		margin-bottom: 0;
		margin-top: variables.$g-spacer-unit;
	}

	&__actions button {
		margin-right: variables.$g-spacer-unit * 4;
	}
}
