@use "../../styles/settings/colors" as colors;
@use "../../styles/settings/variables" as variables;

.c-add-fragment-modal,
.c-add-collection-modal,
.c-import-to-assignment-modal {
	&__tab-select {
		@media screen and (min-width: variables.$g-bp2) {
			display: none;
		}
	}

	&__tab-buttons,
	&__tab-buttons.c-button-toolbar {
		display: none;

		@media screen and (min-width: variables.$g-bp2) {
			display: block;
		}
	}

	.c-modal__body,
	.c-modal__footer {
		.c-toolbar {
			gap: variables.$g-spacer-unit * 2;
			flex-direction: column;
			align-items: flex-start;

			@media screen and (min-width: variables.$g-bp2) {
				flex-direction: row;
				align-items: center;
			}
		}
	}

	.c-modal__body {
		padding-left: 0;
		padding-right: 0;

		.c-toolbar {
			min-height: 0;

			.c-toolbar__left,
			.c-toolbar__right,
			.c-toolbar__item {
				width: 100%;

				@media screen and (min-width: variables.$g-bp2) {
					width: auto;
				}
			}
		}

		.c-table {
			border-top: 1px solid colors.$color-gray-100;

			th {
				border-bottom: 1px solid colors.$color-gray-100;
			}
		}

		.c-thumbnail {
			margin-right: 10px;
			min-width: 125px; // Force growth on mobile
			max-width: 125px; // Constrain growth on desktop
			height: 70px;
		}

		.c-heading {
			font-size: 1.6rem;
			margin: 3px 0 0;
		}

		@media screen and (min-width: variables.$g-bp2) {
			table td {
				border-left: none;
				border-right: none;
			}

			th,
			td {
				&:first-child {
					padding-left: 3.2rem;
				}

				&:last-child {
					padding-right: 3.2rem;
				}
			}
		}
	}

	.c-modal__footer {
		.c-toolbar {
			padding: variables.$g-spacer-unit * 2 variables.$g-spacer-unit * 1.5;

			.c-toolbar__right {
				align-self: flex-end;
			}
		}
	}

	&__table-wrapper {
		overflow: auto;
		max-width: 100%;
	}
}
