@import '../../styles/settings/variables';

.c-add-fragment-modal,
.c-add-collection-modal,
.c-import-to-assignment-modal {
	.c-modal__body {
		padding-left: 0;
		padding-right: 0;

		table td {
			border-left: none;
			border-right: none;
		}

		th,
		td {
			&:first-child {
				padding-left: 3.2rem;
			}

			&:last-child {
				padding-right: 3.2rem;
			}
		}
	}

	.c-thumbnail {
		margin-right: 10px;
		max-width: 125px;
		height: 70px;
	}

	.scrollbar-container {
		.scrollbar-container {
			max-height: 100vh;

			@media screen and (min-width: $g-bp1) {
				max-height: 60vh;
			}
		}
	}
}
