@use "sass:color";
@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

.c-Alert {
	padding: variables.$g-spacer-unit * 2;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.4rem;
	display: flex;
	gap: variables.$g-spacer-unit;

	&.c-Alert--info {
		background-color: colors.$c-alert-info-bg-color;
		border-color: color.adjust(colors.$c-alert-info-bg-color, $lightness: -10%);
	}
}
