@import "../../../styles/settings/colors";
@import "../../../styles/settings/variables";

.c-Alert {
	padding: $g-spacer-unit * 2;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.4rem;
	display: flex;
	gap: $g-spacer-unit;

	&.c-Alert--info {
		background-color: $c-alert-info-bg-color;
		border-color: darken($c-alert-info-bg-color, 10%);
	}
}
