@use "sass:color";
@use "../../settings/colors" as colors;
@use "../../settings/variables" as variables;

/* ==========================================================================
   Component: Button Skins
   ---
   Rules of this file: you CAN'T touch the box model here, just colors.
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-button-text-color: variables.$g-text-color !default;
$c-button-hover-border-color: colors.$color-gray-100 !default;
$c-button-outline-color: colors.$color-primary !default;
$c-button-focus-ring-color: colors.$color-primary !default;
$c-button-link-color: colors.$color-primary !default;

.c-button {
	transition: 0.18s background ease-in;
}

/* Primary
   ========================================================================== */

.c-button.c-button--primary {
	border: 1px solid colors.$color-primary;
	background-color: colors.$color-primary;
	color: #fff;

	svg * {
		fill: #fff;
	}

	&:hover,
	&:active,
	&.c-button--active,
	&:active:focus,
	&.c-button--active:focus {
		background-color: color.adjust(colors.$color-primary, $lightness: -15%);
		border-color: color.adjust(colors.$color-primary, $lightness: -15%);
	}
}

/* Secondary
   ========================================================================== */

.c-button.c-button--secondary {
	border: 1px solid colors.$color-gray-200;
	background-color: colors.$color-gray-50;
	color: colors.$color-gray-700;

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background-color: #fff;
	}
}

/* Secondary inverse
   ========================================================================== */

.c-button.c-button--secondary-i {
	background: none;
	border: 1px solid rgba(#fff, 0.75);
	color: #fff;

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background-color: rgba(#fff, 0.1);
		border-color: #fff;
	}
}

/* Tertiary
   ========================================================================== */

.c-button.c-button--tertiary {
	background-color: #fff;
	color: colors.$color-gray-700;
	border: 1px solid colors.$color-gray-150;

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background-color: colors.$color-gray-50;
	}
}

/* Danger
   ========================================================================== */

.c-button.c-button--danger {
	border: 1px solid colors.$color-error;
	background-color: colors.$color-error;
	color: #fff;

	svg * {
		fill: #fff;
	}

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background-color: color.adjust(colors.$color-error, $lightness: -10%);
		border-color: color.adjust(colors.$color-error, $lightness: -10%);
	}
}

/* Danger hover
   ========================================================================== */

.c-button.c-button--danger-hover {
	border: 1px solid colors.$color-gray-200;
	background-color: colors.$color-gray-50;
	color: colors.$color-gray-700;

	svg * {
		fill: $c-button-text-color;
	}

	&:active,
	&:hover,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		border-color: colors.$color-error;
		background-color: colors.$color-error;
		color: #fff;

		svg * {
			fill: #fff;
		}
	}
}

/* Borderless
   ========================================================================== */

.c-button.c-button--borderless {
	color: $c-button-text-color;
	background: none;
	border: 0;

	&:hover {
		box-shadow: inset 0 0 0 0.1rem variables.$c-button-hover-border-color;
	}

	&:focus {
		outline: 0;
	}

	&:active,
	&:hover,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background-color: colors.$color-gray-100;
		box-shadow: inset 0 0 0 0.1rem variables.$c-button-hover-border-color;
	}
}

/* Borderless inverse
   ========================================================================== */

.c-button.c-button--borderless-i {
	color: rgba(#fff, 0.5);
	background: none;
	border: 1px solid transparent;

	&:hover {
		border-color: rgba(#fff, 0.25);
	}

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background-color: rgba(#fff, 0.1);
		border-color: #fff;
	}
}

/* Button link
   ========================================================================== */

.c-button.c-button--link {
	background: none;
	border: none;
	color: colors.$color-teal-bright;

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background-color: colors.$color-gray-50;
	}
}

/* Button inline-link
   ========================================================================== */

.c-button.c-button--inline-link {
	background: none;
	border: none;
	color: colors.$color-teal-bright;
	padding: 0;
	margin-top: -2px;
	text-decoration: underline;

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background-color: colors.$color-gray-50;
	}
}

/* Button underlined-link
   ========================================================================== */

.c-button.c-button--underlined-link {
	@extend .c-button, .c-button--link;
	text-decoration: underline;

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background-color: transparent;
		color: colors.$color-teal;
	}
}

/* Pupil Primary
   ========================================================================== */

.c-button.c-button--pupil-primary {
	border: 1px solid colors.$color-yellow;
	background-color: colors.$color-yellow;
	color: #fff;

	svg * {
		fill: #fff;
	}

	&:hover,
	&:active,
	&.c-button--active,
	&:active:focus,
	&.c-button--active:focus {
		background: color.adjust(colors.$color-yellow, $lightness: -15%);
		border-color: color.adjust(colors.$color-yellow, $lightness: -15%);
	}
}

/* Pupil Button link
   ========================================================================== */

.c-button.c-button--pupil-link {
	background: none;
	border: none;
	color: colors.$color-yellow;

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background: colors.$color-gray-50;
	}
}

/* Pupil Button inline-link
   ========================================================================== */

.c-button.c-button--pupil-inline-link {
	background: none;
	border: none;
	color: colors.$color-yellow;
	padding: 0;
	margin-top: -2px;

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background: colors.$color-gray-50;
	}
}

/* Pupil Button underlined-link
   ========================================================================== */

.c-button.c-button--pupil-underlined-link {
	@extend .c-button, .c-button--link;
	text-decoration: underline;
	color: colors.$color-yellow;

	&:hover,
	&:active,
	&:focus,
	&.c-button--active,
	&.c-button--active:focus {
		background: transparent;
		color: color.adjust(colors.$color-yellow, $lightness: -15%);
	}
}

/* Shared disabled state for all buttons
   ========================================================================== */

.c-button.c-button--primary,
.c-button.c-button--secondary,
.c-button.c-button--tertiary,
.c-button.c-button--danger,
.c-button.c-button--danger-hover {
	&:disabled,
	&.c-button--disabled {
		background: colors.$color-gray-100;
		color: colors.$color-gray-200;
		border: 1px solid colors.$color-gray-100;
		pointer-events: auto;
		cursor: default;
	}
}
