@import "../../../styles/settings/colors";

.c-pagination-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	.c-pagination-bar__back-to-top {
		background-color: $white;
		border: 0;

		&:hover {
			background-color: $color-gray-100;
		}
	}
}

.c-pagination {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;

	.c-button {
		background-color: $white;
		border: 0;
		width: 3.6rem;
		height: 3.6rem;

		&:hover {
			background-color: $color-gray-100;
		}

		&--active {
			background-color: $color-gray-700;
		}
	}
}
