@use "../../../styles/settings/colors" as colors;

.c-pagination-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	.c-pagination-bar__back-to-top {
		background-color: colors.$white;
		border: 0;

		&:hover {
			background-color: colors.$color-gray-100;
		}
	}
}

.c-pagination {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;

	.c-button {
		background-color: colors.$white;
		border: 0;
		width: 3.6rem;
		height: 3.6rem;

		&:hover {
			background-color: colors.$color-gray-100;
		}

		&.c-pagination__page-button--active {
			color: black !important;
		}

		&.c-button--disabled:not(.c-pagination__page-button--active) {
			background-color: transparent !important;
			color: colors.$color-gray-200 !important;
			border: 0 !important;
		}
	}
}
