@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;
@use "../../../styles/components/input" as input;

.c-content table td {
	border: 0.1rem solid colors.$color-gray-100;
}

.c-rich-text-editor {
	border: 0.1rem solid colors.$color-gray-150;
	border-radius: 0.3rem;
	background-color: #fff;
	@include input.textfield-transition;

	&.disabled {
		.bf-controlbar {
			pointer-events: none;
		}

		background-color: colors.$color-gray-100;
	}

	ul,
	ol {
		margin: 0;
		padding: 0.5rem;
	}

	.bf-table-dropdown-control .button {
		width: auto;
	}

	.bf-controlbar {
		background-color: colors.$color-gray-50;
	}

	.bf-content {
		font-size: 1.5rem;
	}

	.bf-controlbar .separator-line {
		margin: 0 0.5rem;
		height: 3.5rem;
	}

	.bf-controlbar .control-item {
		margin: 0 0 0 0.3rem;
	}

	.public-DraftEditor-content {
		word-break: normal;

		// The same as: .c-content p
		> div > div {
			margin: 1.5rem 0;
		}
	}
}
