.c-input-react-components {
	border: 0;
	padding: 0;

	input {
		border-radius: 0.3rem;
		background-color: #fff;
		border: 1px solid #bac7d1;
		font-size: inherit;
		height: 3.6rem;
		padding: 0.8rem;
		width: 100%;
		appearance: none;
		transition: all 0.15s ease-in-out;
	}
}
