@use "../settings/colors" as colors;
@use "../settings/variables" as variables;

.c-admin-core {
	&.c-admin {
		position: relative;
		max-width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.c-admin {
		&__header {
			height: auto;
			min-height: 6rem;
			padding: 0 4.2rem;
			position: sticky;
			inset: 0 0 auto 0;
			z-index: variables.$g-c-global-navbar-z;

			// Provide a background color for a container'ed element
			// without breaking overflows
			&::before {
				background-color: colors.$color-gray-50;
				border-bottom: 0.1rem solid colors.$color-gray-100;
				content: "";
				display: block;
				inset: 0 0 0 0;
				position: absolute;
				transform-origin: center;
				transform: scaleX(2);
				z-index: -1;
			}
		}

		&__page-title {
			font-family: variables.$g-headings-font-family;
			font-size: 2.4rem;
			font-weight: variables.$g-headings-font-weight;
			line-height: 2.4rem;
			margin: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__back {
			& > button {
				margin-right: variables.$g-spacer-unit * 2;
			}
		}
	}

	// Copied from avo2-components
	// TODO: REMOVE
	$g-bp1: 400px;
	$g-bp2: 700px;
	$g-bp3: 900px;
	$g-bp4: 1200px;

	$o-container-max-width: 130rem;

	$o-container-width-bp1: calc(100% - 2.4rem);
	$o-container-width-bp2: calc(100% - 3.2rem);
	$o-container-width-bp3: calc(100% - 4.8rem);
	$o-container-width-bp4: calc(100% - 6.4rem);

	%o-container {
		margin: 0 auto;
		max-width: $o-container-max-width;
		width: $o-container-width-bp1;

		@media (min-width: variables.$g-bp2) {
			width: $o-container-width-bp2;
		}
		@media (min-width: variables.$g-bp3) {
			width: $o-container-width-bp3;
		}
		@media (min-width: variables.$g-bp4) {
			width: $o-container-width-bp4;
		}
	}
}
