/* ==========================================================================
   Utility: Background
   ========================================================================== */

/* Grayscale
   ========================================================================== */
.u-bg-white {
	background: #FFF;
}

.u-bg-gray-50 {
	background: $color-gray-50;
}

.u-bg-gray-100 {
	background: $color-gray-100;
}

.u-bg-gray-150 {
	background: $color-gray-150;
}

.u-bg-gray-200 {
	background: $color-gray-200;
}

/* Primary colors
   ========================================================================== */
.u-bg-night-blue {
	background: $color-night-blue;
}
