@use "../../styles/settings/colors" as colors;

/* ==========================================================================
   Utility: Color
   ========================================================================== */

.u-color-white {
	color: #fff !important;
}

.u-color-gray-150 {
	color: colors.$color-gray-150 !important;
}

.u-color-klascement {
	background-color: colors.$color-klascement !important;
	border-color: colors.$color-klascement !important;

	&[disabled] {
		background-color: colors.$color-gray-100 !important;
		border-color: colors.$color-gray-150 !important;
		cursor: not-allowed !important;
	}
}
