@use "../../styles/settings/variables" as variables;

/* ==========================================================================
   Utility: Display
   ===
   Display-related utility classes
   ========================================================================== */

/* Utilities
   ========================================================================== */

.u-d-block {
	display: block !important;
}

.u-d-flex {
	display: flex !important;
}

/* Responsive utilities
   ========================================================================== */

.u-max-bp3-d-none {
	@media (min-width: variables.$g-bp3) {
		display: none;
	}
}

.u-min-bp3-d-block {
	display: none;

	@media (min-width: variables.$g-bp3) {
		display: block;
	}
}

.u-min-bp3-d-flex {
	display: none;

	@media (min-width: variables.$g-bp3) {
		display: flex;
	}
}
