@use "../../styles/settings/colors" as colors;
@use "../../styles/settings/variables" as variables;

/* ==========================================================================
   Utility: Generic
   ===
   Set of generic helping classes
   ========================================================================== */

.u-maximize-height {
	height: 100% !important;
}

.u-maximize-width {
	width: 100% !important;
}

.u-float-right {
	float: right !important;
}

.u-center-m {
	margin: 0 auto !important;
}

.u-nowrap {
	white-space: nowrap !important;
}

.u-position-relative {
	position: relative !important;
}

.u-position-absolute {
	position: absolute !important;
}

.u-hidden {
	display: none !important;
}

.u-opacity-50 {
	opacity: 0.5;
}

.u-scroll {
	overflow: auto !important;
	-webkit-overflow-scrolling: touch;
}

.u-overflow-hidden,
.u-kill-scroll {
	overflow: hidden !important;
}

.u-sr-accessible {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.u-sr-accessible-table-cell {
	display: flex; // Take out of regular table context
	position: absolute;
	left: -10000px;
	top: -10000px;
	width: 0;
	height: 1px;
	overflow: hidden;
	padding: 0 !important;
	background-color: #fff;
	margin: 0 !important;
}

.u-limit-width {
	max-width: 60rem;
}

@media (min-width: variables.$g-bp3) {
	.u-limit-width-bp3 {
		max-width: 60rem;
	}
}

@media (min-width: variables.$g-bp2) {
	.u-limit-width-bp2-s {
		max-width: 32rem;
	}
}

.u-text-editable {
	border-bottom: 1px dotted #666;
	cursor: pointer;
}

.u-remove-link-styling a,
.u-remove-link-styling {
	color: colors.$color-gray-700;
	text-decoration: none;
}

.u-clickable {
	cursor: pointer;
}

.u-disable-click {
	cursor: default;
	pointer-events: none;
}

.u-flex-auto {
	flex: 1 1 auto;
}

.u-flex-align {
	display: flex;

	&--start {
		align-items: flex-start;
	}

	&--center {
		align-items: center;
	}

	&--end {
		align-items: flex-end;
	}
}

.u-content-flex {
	display: flex;

	&--left {
		justify-content: flex-start;
	}

	&--center {
		justify-content: center;
	}

	&--right {
		justify-content: flex-end;
	}
}

// Sticky footer with flexbox
// https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3

.u-body-flex {
	display: flex;
	flex-direction: column;
}

.u-content-flex {
	flex: 1 0 auto;
}

.u-footer-flex {
	flex-shrink: 0;
}

.u-h-70vh {
	height: 70vh !important;
}
