@use "sass:math";
@import "../settings/variables";

/* ==========================================================================
   Utility: Spacing
   ========================================================================== */

/* Resets
   ========================================================================== */

.u-m-0 {
	margin: 0 !important;
}

.u-m-t-0 {
	margin-top: 0 !important;
}

.u-m-t-l {
	margin-top: variables.$g-spacer-unit * 3 !important;
}

.u-m-t {
	margin-top: variables.$g-spacer-unit !important;
}

.u-m-b-l {
	margin-bottom: variables.$g-spacer-unit * 3 !important;
}

.u-m-b-xl {
	margin-bottom: variables.$g-spacer-unit * 6 !important;
}

.u-m-b-0 {
	margin-bottom: 0 !important;
}

.u-p-0 {
	padding: 0 !important;
}

.u-p-t-0 {
	padding-top: 0 !important;
}

.u-p-b-0 {
	padding-bottom: 0 !important;
}

/* Variables
   ========================================================================== */

variables.$g-spacer-unit: 0.8rem !default;

/* All
   ========================================================================== */

.u-spacer-xs {
	margin: math.div(variables.$g-spacer-unit, 2) !important;
}

.u-spacer-s {
	margin: variables.$g-spacer-unit !important;
}

.u-spacer {
	margin: variables.$g-spacer-unit * 2 !important;
}

.u-spacer-l {
	margin: variables.$g-spacer-unit * 3 !important;
}

.u-spacer-xl {
	margin: variables.$g-spacer-unit * 6 !important;
}

.u-padding-s {
	padding: math.div(variables.$g-spacer-unit, 2) !important;
}

.u-padding-s {
	padding: variables.$g-spacer-unit !important;
}

.u-padding {
	padding: variables.$g-spacer-unit * 2 !important;
}

.u-padding-l {
	padding: variables.$g-spacer-unit * 3 !important;
}

.u-padding-xl {
	padding: variables.$g-spacer-unit * 6 !important;
}

/* Left
   ========================================================================== */

.u-spacer-left-xs {
	margin-left: math.div(variables.$g-spacer-unit, 2) !important;
}

.u-spacer-left-s {
	margin-left: variables.$g-spacer-unit !important;
}

.u-spacer-left {
	margin-left: variables.$g-spacer-unit * 2 !important;
}

.u-spacer-left-l {
	margin-left: variables.$g-spacer-unit * 3 !important;
}

.u-spacer-left-xl {
	margin-left: variables.$g-spacer-unit * 6 !important;
}

.u-padding-left-xs {
	padding-left: math.div(variables.$g-spacer-unit, 2) !important;
}

.u-padding-left-s {
	padding-left: variables.$g-spacer-unit !important;
}

.u-padding-left {
	padding-left: variables.$g-spacer-unit * 2 !important;
}

.u-padding-left-l {
	padding-left: variables.$g-spacer-unit * 3 !important;
}

.u-padding-left-xl {
	padding-left: variables.$g-spacer-unit * 6 !important;
}

/* Right
   ========================================================================== */

.u-spacer-right-xs {
	margin-right: math.div(variables.$g-spacer-unit, 2) !important;
}

.u-spacer-right-s {
	margin-right: variables.$g-spacer-unit !important;
}

.u-spacer-right {
	margin-right: variables.$g-spacer-unit * 2 !important;
}

.u-spacer-right-l {
	margin-right: variables.$g-spacer-unit * 3 !important;
}

.u-spacer-right-xl {
	margin-right: variables.$g-spacer-unit * 6 !important;
}

.u-padding-right-xs {
	padding-right: math.div(variables.$g-spacer-unit, 2) !important;
}

.u-padding-right-s {
	padding-right: variables.$g-spacer-unit !important;
}

.u-padding-right {
	padding-right: variables.$g-spacer-unit * 2 !important;
}

.u-padding-right-l {
	padding-right: variables.$g-spacer-unit * 3 !important;
}

.u-padding-right-xl {
	padding-right: variables.$g-spacer-unit * 6 !important;
}

/* Top
   ========================================================================== */

.u-spacer-top-xs {
	margin-top: math.div(variables.$g-spacer-unit, 2) !important;
}

.u-spacer-top-s {
	margin-top: variables.$g-spacer-unit !important;
}

.u-spacer-top {
	margin-top: variables.$g-spacer-unit * 2 !important;
}

.u-spacer-top-l {
	margin-top: variables.$g-spacer-unit * 3 !important;
}

.u-spacer-top-xl {
	margin-top: variables.$g-spacer-unit * 6 !important;
}

.u-padding-top-xs {
	padding-top: math.div(variables.$g-spacer-unit, 2) !important;
}

.u-padding-top-s {
	padding-top: variables.$g-spacer-unit !important;
}

.u-padding-top {
	padding-top: variables.$g-spacer-unit * 2 !important;
}

.u-padding-top-l {
	padding-top: variables.$g-spacer-unit * 3 !important;
}

.u-padding-top-xl {
	padding-top: variables.$g-spacer-unit * 6 !important;
}

/* Bottom
   ========================================================================== */

.u-spacer-bottom-xs {
	margin-bottom: math.div(variables.$g-spacer-unit, 2) !important;
}

.u-spacer-bottom-s {
	margin-bottom: variables.$g-spacer-unit !important;
}

.u-spacer-bottom {
	margin-bottom: variables.$g-spacer-unit * 2 !important;
}

.u-spacer-bottom-l {
	margin-bottom: variables.$g-spacer-unit * 3 !important;
}

.u-spacer-bottom-xl {
	margin-bottom: variables.$g-spacer-unit * 6 !important;
}

.u-padding-bottom-xs {
	padding-bottom: math.div(variables.$g-spacer-unit, 2) !important;
}

.u-padding-bottom-s {
	padding-bottom: variables.$g-spacer-unit !important;
}

.u-padding-bottom {
	padding-bottom: variables.$g-spacer-unit * 2 !important;
}

.u-padding-bottom-l {
	padding-bottom: variables.$g-spacer-unit * 3 !important;
}

.u-padding-bottom-xl {
	padding-bottom: variables.$g-spacer-unit * 6 !important;
}
