/* ==========================================================================
   Utility: Text
   ===
   Text-related utility classes
   ========================================================================== */

/* Variables
   ========================================================================== */

$u-text-muted-color: colors.$color-gray-400 !default;
$u-text-success-color: colors.$color-green !default;
$u-text-primary-color: colors.$color-teal-bright !default;
$u-text-danger-color: colors.$color-error !default;

/* Utilities
   ========================================================================== */

.u-text-muted {
	color: $u-text-muted-color;
}

.u-text-primary {
	color: $u-text-primary-color;
}

.u-text-success {
	color: $u-text-success-color;

	.o-svg-icon {
		color: $u-text-success-color;
	}
}

.u-text-danger {
	color: $u-text-danger-color;
}

.u-text-bold {
	font-weight: 700;
}

.u-text-center {
	text-align: center !important;
}

.u-text-right {
	text-align: right !important;
}

.u-text-hidden {
	display: none;
}

.u-text-uc {
	text-transform: uppercase;
}

.u-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.u-text-decoration-none {
	text-decoration: none !important;
	color: black !important;

	&:hover {
		text-decoration: none !important;
		color: black !important;
	}
}
