.collapsed {
	display: none;
}

.c-multi-theme-select {
	&__group-heading-wrapper {
		.c-multi-theme-select__group-heading {
			display: flex;
			align-items: center;

			p {
				margin-left: 0.5rem;
			}
		}
	}

	.c-tags-input {
		&__option {
			padding-left: 3.75rem;
		}
	}
}
