@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

$c-modal-padding-horizontal: 2.4rem !default;

div.embed-selection.o-container-vertical {
	padding: 0 $c-modal-padding-horizontal;
	margin-left: $c-modal-padding-horizontal;
	margin-right: $c-modal-padding-horizontal;

	.prepend-logo {
		margin-right: 1rem;
		vertical-align: text-bottom;
	}

	&.embed-selection-selected {
		padding-bottom: $c-modal-padding-horizontal;
	}

	~ .embed-content-wrapper {
		padding-top: $c-modal-padding-horizontal;
	}
}

.m-fragment-share-modal__tabs-wrapper {
	// Equate to avo2-components/src/components/Modal/Modal.scss without importing
	margin: 0 - (variables.$g-spacer-unit * 3);
	padding: 0 (variables.$g-spacer-unit * 1.5); // ensure text is aligned, 12 + 12
	background-color: colors.$color-gray-50;

	.c-tab-item.c-tab-item__active {
		padding: 1.5rem 0;
		margin-right: 1.7rem;
		margin-left: 1.7rem;
		margin-bottom: 0;
	}

	.append-logo {
		margin-left: 1rem;
		width: 1.8rem;
		height: 1.8rem;
	}
}
