.c-assignment-detail {
	.c-navbar {
		top: 6.4rem;
		height: auto;
		min-height: 9.6rem;
		position: fixed;
		left: 0;
		z-index: 30;
		box-shadow: 0 0 0.8rem 0 rgba(#45647b, 0.35);
		background: #edeff2;
	}
}
