.c-assignment-responses {
	&__table {
		&.c-table__card .c-panel__body {
			display: grid;
			grid-template-rows: repeat(3, auto);
			grid-template-columns: auto min-content;

			.c-tag-list,
			.c-assignment-responses__updated-at {
				display: none;
			}

			.c-assignment-responses__actions {
				grid-row: 1;
				grid-column: 2/3;
				margin: 0 !important;
				display: flex;
				justify-content: flex-end;
			}

			> div {
				grid-column: 1/3;

				// Title column
				&:first-child {
					grid-row: 1;
					grid-column: 1/2;
				}
			}
		}
	}

	&-header {
		.o-flex--center {
			justify-content: left;
		}
	}
}
