// Generic styles applicable to all Assignment pages

@use "../../styles/settings/variables" as variables;

.c-assignment-page {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.c-assignment-details-tab {
		.react-datepicker-popper {
			z-index: 1000000; // Show datepicker over blue bar & zendesk
		}
	}

	&__reorder-container {
		display: flex;
		justify-content: flex-end;
	}

	&--edit,
	&--create {
		.c-assignment-heading__top {
			.c-toolbar {
				&__left,
				&__right {
					margin-bottom: 0;
				}
			}
		}
	}
}
