@use "../../styles/settings/variables" as variables;
@use "../../styles/settings/colors" as colors;

.c-assignment-detail--metadata {
	background-color: colors.$color-gray-50;

	.c-assignment-detail--metadata__inner-container {
		margin-left: 10.6rem; // = distance assignment-item icon + paddings
	}
}

.c-header__top-row-left-slot {
	display: flex;
	flex-direction: row;
}
