@import "../../styles/settings/variables";
@import "../../styles/settings/colors";

.c-assignment-detail--metadata {
	background-color: $color-light-blue;

	.c-assignment-detail--metadata__inner-container {
		margin-left: 10.6rem; // = distance assignment-item icon + paddings
	}
}

.c-assignment-detail--header {
	padding-bottom: 0;
}
