.c-assignment-detail {
	.c-navbar {
		height: auto;

		h2,
		.c-content > p {
			max-width: 800px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.c-content > p {
			max-width: 100%;
		}

		.c-toolbar__item {
			margin-bottom: 15px;
		}
	}

	&.c-assignment-detail--mobile {
		.c-video-column {
			margin-bottom: 15px;
		}
	}

	.c-toolbar {
		height: auto;
		justify-content: space-between;
	}

	.c-toolbar__left,
	.c-toolbar__right {
		flex: initial;
	}
}
