@use "../../styles/settings/colors" as colors;
@use "../../styles/settings/variables" as variables;
@use "../../styles/utilities" as utilities;

.m-assignment-overview {
	@media screen and (max-width: (variables.$g-bp2 - 1)) {
		&__header-toolbar {
			&.c-toolbar {
				@include utilities.blockifyToolbar();
			}

			> .c-toolbar__right {
				// Hide search button
				.c-toolbar__item .o-form-group-layout .o-form-group:last-of-type {
					display: none;
				}
			}
		}

		.c-assignment-overview__actions {
			margin-top: variables.$g-spacer-unit;
		}
	}

	&__header-toolbar {
		.c-toolbar {
			&__left,
			&__right {
				margin-bottom: variables.$g-spacer-unit * 1.5;
			}

			&__left {
				.c-button-toolbar {
					align-items: stretch;

					> div {
						flex-grow: 1;
					}

					.c-button {
						height: 100%;
						margin-bottom: 0;
					}
				}
			}
		}

		.c-checkbox-dropdown-modal__trigger {
			width: 100%;
		}
	}

	&__table {
		.c-assignment-overview__shared {
			display: flex;
			padding: 0.6rem;
			border-radius: 50%;
			color: white;
			background-color: colors.$color-teal-bright;

			.o-svg-icon {
				width: 1.6rem;
				height: 1.6rem;
			}
		}

		&.c-table__card .c-panel__body {
			display: grid;
			grid-template-rows: repeat(3, auto);
			grid-template-columns: auto min-content;

			.c-tag-list,
			.c-assignment-overview__updated-at {
				display: none;
			}

			.c-assignment-overview__actions {
				grid-row: 1;
				grid-column: 2/3;
				margin: 0 !important;

				.c-button-toolbar {
					justify-content: flex-end;
				}
			}

			> div {
				grid-column: 1/3;

				// Title column
				&:first-child {
					grid-row: 1;
					grid-column: 1/2;
				}
			}
		}
	}

	&__table__data-cell {
		display: flex;
		width: 100%;

		&__label {
			width: 100px;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__value {
			width: calc(100% - 100px);
		}
	}

	.c-tag {
		.c-label-text {
			text-overflow: ellipsis;
			max-width: 15rem;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	&__search-input {
		margin-left: variables.$g-spacer-unit;
	}
}
