@import "../../../styles/settings/variables";

.m-manage-labels-and-classes {
	.c-modal__body {
		height: 720px;
	}

	.c-max-length {
		position: absolute;
		right: 2.5rem;
		top: 50%;
		transform: translateY(-50%);
		z-index: 99;

		&--invalid {
			color: $color-error;
		}
	}
}
