@import '../../styles/settings/index';

.p-my-workspace__action-placeholder {
	display: inline-block;
	min-height: 36px;
}

.m-workspace .c-tab-select {
	width: 100%;
}

.m-workspace .c-select__single-value ,
.m-workspace .c-select__option {
	display: grid;
	gap: $g-spacer-unit;
	grid-template-columns: auto auto;

	.c-pill {
		align-self: center;
	}
}