@import "../../styles/settings/index";
@import "../../styles/utilities";

.p-my-workspace__action-placeholder {
	display: inline-block;
	min-height: 36px;
}

.m-workspace {
	@media screen and (max-width: ($g-bp2 - 1)) {
		.c-navbar .c-toolbar {
			@include blockifyToolbar();
		}
	}

	.c-tab-select {
		width: 100%;
	}

	.c-select__single-value,
	.c-select__option {
		display: grid;
		gap: $g-spacer-unit;
		grid-template-columns: auto auto;

		.c-pill {
			align-self: center;
			margin-left: auto;
		}
	}

	.c-tooltip {
		max-width: 19rem;
		width: max-content;
	}
}
