.klaar-header {
	background: #ffffff;
	min-height: 48px;
	margin-bottom: 0;

	&__logo {
		display: inline-block;
		background-color: #6a339d;

		span {
			color: #5dfc71;
		}
	}

	&__date {
		background-color: #7acef3;
		text-transform: uppercase;
		color: white;
		margin-left: -4px;
	}

	&__titles {
		color: #7acef3;
	}

	&__logo,
	&__date,
	&__h1,
	&__titles {
		line-height: 1;
		font-size: 28px;
		padding: 10px 15px;
		font-family: Arial;
		font-weight: bold;
		letter-spacing: 1px;
		display: inline-block;
	}
}
