

.c-video-player {
	width: 100%;
	vertical-align: bottom;

	.fp-title {
		display: none;
		background-color: rgba(15, 23, 29, 0.75);
		text-transform: none;
	}

	.fp-secondary .fp-togglable  {
		position:relative;
		right: 0.7em;
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	.fp-header {
		display: none;
		background: rgba(15, 23, 29, 0.8);
		justify-content: flex-end;
		width: 60px;
		color: rgba(255, 255, 255, 0.67);
		position: absolute;
		top: auto;
		left: auto;
		bottom: 0;
		right: 0;
		z-index: 1;
		padding: 0;
	}

	&.is-cast-available {
		.fp-header {
			display: none;
			background: rgba(15, 23, 29, 0.8);
			justify-content: flex-end;
			width: 110px;
			color: rgba(255, 255, 255, 0.67);
			position: absolute;
			top: auto;
			left: auto;
			bottom: 0;
			right: 0;
			z-index: 1;
			padding: 0;
		}
	}

	.fp-controls {
		background: rgba(15, 23, 29, 0.8);
		color: rgba(255, 255, 255, 0.67);
		width: calc(100% - 60px);
		z-index: 0;
	}

	&.is-cast-available {
		.fp-controls {
			width: calc(100% - 110px);
		}
	}

	&.use-drag-handle .fp-controls:hover .fp-timeline {
		height: 6px;
	}

	.fp-progress, .fp-bar, .fp-buffer, fp-hover {
		width: 40%;
		height: 6px;
	}

	.fp-color {
		background-color: #25A4CF;
	}

	.fp-footer {
		display: none;
		max-width: calc(100% - 3.2rem);
		top: 1rem;
		left: 1rem;
		right: 1rem;
		bottom: auto;

		padding: 0.8rem 1.2rem;
		margin: 0 0 1rem;

		font-size: 1.8rem;
		font-weight: 500;
		text-overflow: ellipsis;

		white-space: nowrap;
		overflow: hidden;
	}

	.fp-secondary {
		left: 0;
		top: 0;
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
		padding: 0.72rem;
		padding-left: 5px;
		padding-right: 5px;

		.fp-cast-button, .fp-fullscreen, .fp-fullscreen-exit {
			height: 60%;
			width: 50px;
			margin: 0;
			padding: 0;
		}
	}

	&.is-playing {
		.fp-footer {
			display: none;
		}
	}

	&.is-hovered, &.is-paused {
		.fp-header, .fp-footer {
			display: block;
		}
	}

	&.is-fullscreen {
		&.is-hovered, &.is-paused {
			.fp-title {
				display: block;
			}
		}
	}

	&.t-player-skin--dark {
		background: none;
	}

	&__thumbnail {
		cursor: pointer;
	}

	&__item {
		line-height: 0;
	}
}

.c-play-overlay__button {
	margin-right: -4px;
}
