@use "../../styles/settings/variables" as variables;

.p-item-request-form {
	.o-form-group {
		margin-bottom: variables.$g-spacer-unit * 2;
	}

	.o-form-group__label {
		display: block;
		margin-bottom: variables.$g-spacer-unit;
	}
}
