@use "../../../styles/settings/variables" as variables;

$component: "c-customise-item-form";

.#{$component} {
	&--has-preview {
		@media screen and (min-width: variables.$g-bp3) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: variables.$g-spacer-unit * 3;
		}
	}
}
