@use "../../styles/settings/colors" as colors;
@use "../../styles/settings/variables" as variables;

/* ==========================================================================
   Elements: Base
   ---
   Only use elements without selectors when really necessary.
   ========================================================================== */

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;
$base-font-size: 1.6rem !default;
$base-line-height: 1.5 !default;
$base-color: colors.$color-gray-700 !default;
$g-base-background: #fff !default;

/* Elements
   ========================================================================== */

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	// Don't use body to allow sticky elements
	overflow-x: hidden;
}

html {
	font-size: 54.16%; // 13px

	@media (min-width: variables.$g-bp3) {
		font-size: 58.33%; // 14px
	}
	@media (min-width: variables.$g-bp4) {
		font-size: 62.5%; // Base 10
	}
}

body {
	position: relative;
	font-family: variables.$g-base-font-family;
	font-size: variables.$g-base-font-size;
	line-height: $base-line-height;
	color: $base-color;
	background-color: variables.$g-base-background;
}

body.c-body-compensate-header {
	margin: variables.$g-bar-size-regular 0 0;
}

img,
video {
	max-width: 100%;
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
}

a {
	color: colors.$color-primary;
}

em,
i {
	font-style: italic;
}

strong,
b {
	font-weight: variables.$g-headings-font-weight;
}

/* Required fields
   ========================================================================== */

abbr[title] {
	text-decoration: none;
	opacity: 0.5;
}
