/* ==========================================================================
    Object: App
   ========================================================================== */

.o-app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 6.4rem;

	> .c-navbar {
		max-width: 100vw;
	}
}


// Modifiers
.o-app--admin {
	padding-top: 0;

	&__main {
		height: 100vh;
	}
}
