/* ==========================================================================
    Object: App
   ========================================================================== */

.o-app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 6.4rem;
}


// Modifiers
.o-app--admin {
	padding-top: 0;
}
