@use "../../styles/settings/variables" as variables;

/* ==========================================================================
    Object: App
   ========================================================================== */

.o-app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: variables.$main-header-height;

	> .c-navbar {
		max-width: 100vw;
	}
}

// Modifiers
.o-app--admin {
	padding-top: 0;
	min-height: auto;

	&__main {
		height: 100vh;
	}
}

.o-app--preview {
	padding-top: calc(#{variables.$main-header-height} + #{variables.$user-group-selector-height});
}
