@use "../../styles/settings/variables" as variables;

.m-embed-code-cell-thumbnail.c-thumbnail {
	width: 125px;
	height: 70px;
	padding: 0;

	@media (max-width: variables.$g-bp2) {
		width: 50px;
		height: 28px;
	}
}

.c-content-header__header,
.time-code {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	@media (min-width: variables.$g-bp2) {
		max-width: 30rem;
	}
}

.c-content-header__header {
	color: colors.$color-primary;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.prepend-logo {
	margin-right: 1rem;
	vertical-align: text-bottom;
}
