@use "../../styles/settings/colors" as colors;

.embed-content-wrapper {
	.bf-content {
		height: unset;
	}

	div.expandable-container-closed {
		// Only apply the gradient when there is no sibling div containing a div of type button with display: none
		div[id^="react-collapsed-panel"]:has(+ div > div[type="button"]:not([style*="display: none"])) {
			background: linear-gradient(black, rgba(255, 255, 255, 50));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.c-embed-code-content-toolbar {
		.c-toolbar__right:has(> .u-truncate) {
			flex-shrink: 1;
			min-width: 0;
		}
	}

	.original-description {
		border: 1px solid colors.$color-gray-200;
		border-radius: 0.3rem;
		padding: 15px;
		line-height: normal;
	}
}
