.c-filter-table {

	.c-dropdown__trigger {
		margin-bottom: 0.8rem;
	}

	.c-dropdown__menu {
		overflow: visible !important;
	}

	.c-content-filters__search {
		max-width: 400px;
	}

	.c-bulk-action-select {
		min-width: 200px;
	}
}
