@use "sass:math";
@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

$player-play-button-dimensions: 7rem;
$player-play-button-icon-dimensions: 3rem;
$player-easing-soft: cubic-bezier(0.62, 0.28, 0.23, 0.99);
$c-video-player-progress-height: 6px !default;
$c-video-player-progress-handle-size: $c-video-player-progress-height * 2.5 !default;
$c-play-overlay-inner-bg: colors.$color-gray-900;
$c-spinner-fullscreen-holder-bg: rgba(#000, 0.5);
$c-video-player-progress-inner-bg: colors.$color-teal-bright;

.c-video-player {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 0.4rem;
	overflow: hidden;
	max-width: 100%;
	width: 100%;

	.c-video-player-inner--audio {
		background-size: cover !important;
	}

	.a-flowplayer__text,
	+ .a-block-image__annotation p {
		color: colors.$color-gray-200;
	}

	.a-block-image__annotation > h3 {
		margin-top: 1rem;
	}

	.c-video-player__playlist__item {
		padding: 1.7rem 1rem 0.5rem;
		border-radius: 0.4rem;

		&--active {
			background-color: colors.$color-gray-100;
		}

		.c-media-card {
			width: 100%;
			max-width: none;
			text-align: left;
		}
	}
}

.c-video-player__overlay {
	position: relative;
	width: 100%;

	&.c-video-player__thumbnail {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}

	.c-play-overlay {
		position: absolute;
		top: calc(50% - #{math.div($player-play-button-dimensions, 2)});
		left: calc(50% - #{math.div($player-play-button-dimensions, 2)});

		width: $player-play-button-dimensions;
		height: $player-play-button-dimensions;

		cursor: pointer;

		&__inner {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__button {
			margin-right: -4px;
		}
	}

	.c-play-overlay__inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(math.div(-$player-play-button-dimensions, 2), math.div(-$player-play-button-dimensions, 2));

		background-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 21.9999C4.835 21.9999 4.67 21.9589 4.521 21.8779C4.2 21.7019 4 21.3659 4 20.9999V2.99989C4 2.63389 4.2 2.29689 4.521 2.12189C4.841 1.94689 5.232 1.95989 5.541 2.15889L19.541 11.1589C19.827 11.3429 20 11.6599 20 11.9999C20 12.3399 19.827 12.6569 19.541 12.8409L5.541 21.8409C5.376 21.9459 5.188 21.9999 5 21.9999ZM6 4.83189V19.1679L17.15 11.9999L6 4.83189Z' fill='white' fill-opacity='0.67'/%3E%3C/svg%3E%0A");
		background-size: $player-play-button-icon-dimensions;
		background-position: 55% center;
		background-repeat: no-repeat;

		width: $player-play-button-dimensions;
		height: $player-play-button-dimensions;

		background-color: rgba($c-play-overlay-inner-bg, 0.5);
		border-radius: 50%;
		box-shadow: 0 0 5px 0 rgba(colors.$color-gray-shadow, 0.5);

		&:hover {
			background-color: rgba($c-play-overlay-inner-bg, 0.7);
			box-shadow: 0 0 10px 0 rgba(colors.$color-gray-shadow, 0.7);

			transition: 0.14s background $player-easing-soft;
		}

		> * {
			display: none;
		}
	}

	.c-video-player__top-right {
		position: absolute;
		top: 0;
		right: 0;
		//color: #fff !important;
		//background-color: #0009;
		padding: math.div(variables.$g-spacer-unit, 2) variables.$g-spacer-unit;

		background-color: #0009;
		border-bottom-left-radius: 0.3rem;

		.c-button--inline-link {
			background-color: transparent !important;
			text-decoration: none;

			.c-button__label {
				text-decoration: none !important;
				color: #fff !important;
				font-size: 1.2rem;
			}
		}
	}
}

.c-cut-overlay {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 7.5%;
	left: 0;
	color: rgba(#fff, 0.67);

	padding: 0.5rem 1rem;

	background-color: colors.$color-teal-bright;
	box-shadow: 0 0 5px 0 rgba(colors.$color-gray-shadow, 0.5);

	font-size: 1.2rem;
	font-weight: 500;

	.o-svg-icon {
		width: 1.5rem;
		height: 1.5rem;

		margin-right: 0.5rem;
	}
}
