@import '../../styles/settings/variables';
@import '../../styles/settings/colors';

.c-item-video-description {
	.c-button-toolbar .c-button {
		margin-bottom: $g-spacer-unit;

		&:not(:last-child) {
			margin-right: $g-spacer-unit;
		}
	}

	.c-toolbar__left {
		display: block;

		// Reset flex for title
		flex: unset;
		align-items: unset;
		justify-content: unset;
	}

	.c-toolbar__right {
		.c-button {
			margin-left: $g-spacer-unit;
		}
	}

	@media (max-width: $g-bp2) {
		.o-grid-col-bp2-7 {
			margin-left: 0;
			margin-right: 0;

			+ .o-grid-col-bp2-5 {
				margin-top: $g-spacer-unit * 2;
			}
		}

		.c-item-view__main .c-video-player {
			margin-left: 0;
			width: 100%;
		}
	}
}
