@use "../../styles/settings/variables" as variables;
@use "../../styles/settings/colors" as colors;

.c-item-video-description {
	.c-button-toolbar .c-button {
		margin-bottom: variables.$g-spacer-unit;

		&:not(:last-child) {
			margin-right: variables.$g-spacer-unit;
		}
	}

	.c-toolbar__left {
		display: block;

		// Reset flex for title
		flex: unset;
		align-items: unset;
		justify-content: unset;
	}

	.c-toolbar__right {
		.c-button {
			margin-left: variables.$g-spacer-unit;
		}
	}

	.c-item-video-description__metadata {
		@media (max-width: variables.$g-bp2) {
			margin-top: variables.$g-spacer-unit;
		}

		.scrollbar-container {
			padding-right: 10px;

			.c-button {
				margin-bottom: variables.$g-spacer-unit;
			}

			.ps__rail-x,
			.ps__rail-y {
				opacity: 1 !important;
				display: block !important;
			}
		}
	}

	@media (max-width: variables.$g-bp2) {
		.o-grid-col-bp2-7 {
			margin-left: 0;
			margin-right: 0;

			+ .o-grid-col-bp2-5 {
				margin-top: variables.$g-spacer-unit * 2;
			}
		}

		.c-item-view__main .c-video-player {
			margin-left: 0;
			width: 100%;
		}
	}

	.c-item-video-description__metadata__value {
		font-weight: 500;
	}
}
