@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

.m-manage-assignment-labels {
	.c-modal__body {
		height: 720px;
	}

	.c-max-length {
		position: absolute;
		right: 2.5rem;
		top: 50%;
		transform: translateY(-50%);
		z-index: 99;

		&--invalid {
			color: colors.$color-error;
		}
	}
}
