@use "../../../../styles/settings/colors" as colors;
@use "../../../../styles/settings/variables" as variables;

/* ==========================================================================
   Component: Sidebar
   ========================================================================== */

$sidebar-header-height: 6.4rem;

.o-sidebar__avo {
	width: 100%;
	height: 100vh;
	color: colors.$color-gray-50;
	background-color: colors.$color-gray-700;

	&__content {
		background-color: colors.$color-gray-700;
	  overflow-y: auto;
	  max-height: calc(100vh - $sidebar-header-height);
	  padding-bottom: 4rem;
	}
}

/* Elements
   ========================================================================== */

.o-sidebar__avo__header {
	display: flex;
	align-items: center;
	justify-content: stretch;
	height: $sidebar-header-height;
	padding: 0 1.5rem 0 3.2rem !important;
	border-bottom: 2px solid colors.$color-gray-400;
	font-size: 2.4rem;
	font-weight: 500;
	background-color: colors.$color-gray-700;
	text-align: center;

	.o-sidebar__avo__header__admin-home {
		flex-grow: 1;
		text-align: left;
	}

	.o-sidebar__avo__header__side-link {
		font-size: variables.$g-base-font-size;
		border: 1px solid colors.$color-gray-600;
		background-color: colors.$color-gray-600;
		padding: 0.5rem;
		border-radius: 4px;
		margin-left: variables.$g-spacer-unit;

		&:hover {
			background-color: colors.$color-gray-500;
		}
	}
}

.o-sidebar__avo__nav {
	.o-sidebar__avo__nav-item-sublink > a {
		padding: 6px 0 6px 44px;
		display: block;
		background-color: colors.$color-gray-650;
	}

	.o-sidebar__avo__nav-item-wrapper {
		border-color: colors.$color-gray-400;
	}

	.o-sidebar__avo__nav-item {
		padding: 1.6rem 3.2rem;
		color: colors.$color-gray-50;
		background-color: colors.$color-gray-700;

		&:focus,
		&:hover {
			background-color: colors.$color-gray-800;
		}

		&.o-sidebar__avo__nav-item--active {
			background-color: colors.$color-gray-600;
		}
	}
}

/* Modifiers
   ========================================================================== */

.o-sidebar__avo--light {
	background-color: variables.$g-base-background;
	color: variables.$g-text-color;
}
