@use "../../../../../styles/settings/colors" as colors;

.c-content-block__search {
	z-index: 2 !important;
}

.m-search-block {
	.c-dropdown__wrapper {
		position: relative;

		> div {
			width: 100%;
		}
	}

	.c-menu {
		margin-top: 5px;
		width: 100%;

		.c-dropdown-results {
			max-width: 100%;

			.c-menu__item {
				border-bottom: 0.1rem solid colors.$color-gray-100;
			}
		}

		.c-spinner {
			margin: 20px;
		}
	}
}
