@use "../../../styles/settings/variables" as variables;

.c-modal__body-add-fragment {
	.c-radio + div {
		padding-left: 2.2rem;
	}

	.c-cut-overlay {
		display: none;
	}

	// Hide cuepoint during cut of a video
	.fp-cuepoint {
		display: none !important;
	}
}
