@import "../../../styles/settings/colors";
@import "../../../styles/settings/variables";

.c-ordered-list {
	padding: $g-spacer-unit * 2;

	&__item {
		display: flex;
		max-width: 37rem;
		margin-top: $g-spacer-unit * 2;
	}

	&__indicator {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.4rem;
		min-width: 2.4rem;
		height: 2.4rem;
		margin-right: $g-spacer-unit * 2;
		font-size: smaller;
		color: $color-platinum;
		background-color: $color-night-blue;
		border-radius: 2.5rem;
	}
}
