@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

.c-ordered-list {
	padding: variables.$g-spacer-unit * 2;

	&__item {
		display: flex;
		max-width: 37rem;
		margin-top: variables.$g-spacer-unit * 2;
	}

	&__indicator {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.4rem;
		min-width: 2.4rem;
		height: 2.4rem;
		margin-right: variables.$g-spacer-unit * 2;
		font-size: smaller;
		color: colors.$color-platinum;
		background-color: colors.$color-night-blue;
		border-radius: 2.5rem;
	}
}
