.c-button:not(.c-button--icon) {
	.c-tag-list {
		.o-svg-icon:first-child,
		.o-svg-icon:last-child {
			margin: 0;
		}
	}
}

.c-button {
	padding: 0 1.6rem;
	max-height: none;
	min-height: 3.6rem;
}
