@use "../../../styles/settings/colors" as colors;

.c-button.c-checkbox-dropdown-modal__trigger {
	padding: 0 1.6rem;

	.c-tag-list {
		width: calc(100% - 20px);
		margin-left: 6px;

		.c-tag {
			margin: 0.3rem 0.4rem;
		}
	}

	> .c-button__content > .c-button__label {
		white-space: nowrap;
	}
}

.c-checkbox-dropdown {
	&__checked {
		display: flex;
		flex-wrap: wrap;

		align-items: center;
		padding: 8px 0;
		border-bottom: 1px solid colors.$color-gray-100;

		&__label {
			margin-left: 8px;
			margin-bottom: 8px;
			align-items: center;
		}
	}
}
