@use "../../../../styles/settings/colors" as colors;
@use "../../../../styles/settings/variables" as variables;

.c-icon-bar {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: variables.$g-spacer-unit * 2;

	@media screen and (min-width: variables.$g-bp2) {
		gap: variables.$g-spacer-unit * 4;
	}

	&__sidebar {
		padding-right: variables.$g-spacer-unit;
		border-right: 1px solid colors.$color-gray-100;
		color: colors.$color-gray-600;

		@media screen and (min-width: variables.$g-bp2) {
			padding-right: variables.$g-spacer-unit * 4;
		}

		.o-svg-icon {
			width: 2rem;
			height: 2rem;

			@media screen and (min-width: variables.$g-bp2) {
				width: 4rem;
				height: 4rem;
			}
		}
	}

	@media screen and (max-width: (variables.$g-bp2 - 1px)) {
		&__content {
			.c-video-player {
				max-width: none;
				width: calc(100% + 4.4rem + 2px);
				transform: translateX(calc(-4.4rem - 2px));
			}
		}
	}
}
