@import '~react-trumbowyg/dist/trumbowyg.min.css';

.trumbowyg-disabled .trumbowyg-editor {
	background: #D6DEE3;
}

.trumbowyg-editor strong {
	// Fixes strange bug in Chrome where the wysiwyg wouldn't clear bold styling
	font-weight: 600;
}

.c-content table td {
	border: 1px solid #D6DEE3;
}
