@use "../../styles/settings/variables" as variables;

/* ==========================================================================
   Trumps: Media query debug
   ========================================================================== */

.t-mq-debug:before {
	content: "No breakpoint";
	position: fixed;
	top: 3rem;
	right: 3rem;
	background-color: #000;
	color: #fff;
	padding: 1rem;
	font-family: sans-serif;
}

@media (min-width: variables.$g-bp1) {
	.t-mq-debug:before {
		content: "Breakpoint 1";
	}
}

@media (min-width: variables.$g-bp2) {
	.t-mq-debug:before {
		content: "Breakpoint 2";
	}
}

@media (min-width: variables.$g-bp3) {
	.t-mq-debug:before {
		content: "Breakpoint 3";
	}
}

@media (min-width: variables.$g-bp4) {
	.t-mq-debug:before {
		content: "Breakpoint 4";
	}
}
