@use "../../../styles/settings/colors" as colors;

.c-draggable-list {
	.o-grid-col-static {
		width: 20px;
	}

	.c-table-view__item {
		cursor: move;
		transition: background-color ease-in-out 0.3s;

		&:hover {
			background-color: colors.$color-gray-50;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}
