@import '../../../styles/settings/variables';

.a-delete-user__grid {
	.c-radio {
		margin: 13px 0;
	}
}

.p-user-overview__confirm-modal {
	strong {
		margin-bottom: $g-spacer-unit;
		display: block;
	}

	.c-checkbox {
		margin-bottom: $g-spacer-unit * 2;
	}
}
