@use "../../../styles/settings/colors" as colors;

.c-admin .c-admin__content .c-table_detail-page {
	th {
		width: 27rem;
		text-align: right;
		padding-right: 1rem;
	}

	tr:nth-child(even) {
		background-color: colors.$color-gray-25;
	}
}

.c-user_detail-page {
	.c-avatar {
		width: 10rem;
		height: 10rem;

		&.c-avatar--img {
			overflow: hidden;
		}

		> img {
			object-fit: contain;
			width: auto;
			height: auto;
			border-radius: 0;
		}
	}
}
