@import "../../../styles/settings/colors";

.c-nav {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		margin-right: 0.4rem;
	}
}

.c-nav__item {
	display: block;
	padding: 0.8rem 1.6rem;
	color: $color-gray-600;
	text-decoration: none;
	border-radius: 0.3rem;

	&:hover,
	&:focus {
		background-color: $color-gray-50;
		color: $color-gray-700;
	}

	.o-svg-icon {
		width: 1.8rem;
		height: 1.8rem;

		+ .c-nav__item-label {
			margin-left: 5px;
		}
	}
}

.c-nav__item--i {
	color: #fff;

	&:hover,
	&:focus {
		background-color: lighten($color-night-blue, 5%);
		color: #fff;
	}
}

.c-nav__item--active {
	background-color: $color-gray-50;
	color: $color-gray-700;

	&:hover,
	&:focus {
		background-color: $color-gray-100;
	}
}

.c-nav__item--i.c-nav__item--active {
	background-color: darken($color-night-blue, 10%);
	color: #fff;

	&:hover,
	&:focus {
		background-color: darken($color-night-blue, 30%);
	}
}

/* Main navigation mobile
   ========================================================================== */

.c-nav-mobile {
	.c-nav__item--i {
		color: $color-gray-700;

		&:hover,
		&:focus {
			background-color: $color-gray-100;
		}
	}
}

.c-nav-mobile__item {
	color: $color-gray-500;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	padding: 1.2rem 0.8rem;
	border-top: 0.1rem solid $color-gray-100;

	> .c-nav__item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&:hover {
		background-color: $color-gray-100;
	}

	.o-svg-icon {
		opacity: 0.5;
		width: 1.8rem;
		height: 1.8rem;
	}
}

.c-nav-mobile__item--active {
	font-weight: 500;
	color: $color-gray-700;
}

.c-mobile-menu {
	position: fixed;
	top: 55px;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	background-color: white;
	z-index: 100;

	.c-nav-mobile:first-child {
		.c-nav-mobile__item:first-child {
			// Do not show a line for the very first item in the first mobile nav bar
			border-top: none;
		}
	}
}

/* profile dropdown */

.c-navbar-profile-dropdown-button {
	display: flex;
	align-items: center;

	.c-avatar-icon {
		margin-right: 5px;
	}

	.o-svg-icon {
		margin-top: 3px;
		margin-left: 4px;
	}
}

/* preview selector */
.c-content-page-preview-selector {
	margin-left: auto;
}
