@import '../../../styles/settings/colors';

.c-nav {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		margin-right: 0.4rem;
	}
}

.c-nav__item {
	display: block;
	padding: 0.8rem 1.6rem;
	color: $color-gray-600;
	text-decoration: none;
	border-radius: 0.3rem;

	&:hover,
	&:focus {
		background: $color-gray-50;
		color: $color-gray-700;
	}
}

.c-nav__item--i {
	color: #FFF;

	&:hover,
	&:focus {
		background: lighten($color-night-blue, 5%);
		color: #FFF;
	}
}

.c-nav__item--active {
	background: $color-gray-50;
	color: $color-gray-700;

	&:hover,
	&:focus {
		background: $color-gray-100;
	}
}

.c-nav__item--i.c-nav__item--active {
	background: darken($color-night-blue, 10%);
	color: #FFF;

	&:hover,
	&:focus {
		background: darken($color-night-blue, 30%);
	}
}

.c-nav.c-nav .o-svg-icon {
	width: 1.8rem;
	height: 1.8rem;
	position: relative;
	bottom: 0.2rem;
	margin-right: 0.75rem;

	* {
		fill: $color-gray-400;
	}
}

/* Main navigation mobile
   ========================================================================== */

.c-nav-mobile + .c-nav-mobile {
	margin: 1.2rem 0;
}

.c-nav-mobile {
	.c-nav__item--i {
		color: $color-gray-700;

		&:hover,
		&:focus {
			background: $color-gray-100;
		}
	}
}

.c-nav-mobile__item {
	color: $color-gray-500;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	padding: 1.2rem 0.8rem;

	+ .c-nav-mobile__item {
		border-top: 0.1rem solid $color-gray-100;
	}

	> .c-nav__item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&:hover {
		background-color: $color-gray-100;
	}

	.o-svg-icon {
		opacity: .5;
		width: 1.8rem;
		height: 1.8rem;
	}
}

.c-nav-mobile__item--active {
	font-weight: 500;
	color: $color-gray-700;
}


/* profile dropdown */

.c-navbar-profile-dropdown-button {
	display: flex;
	align-items: center;

	.c-avatar-icon {
		margin-right: 5px;
	}

	.o-svg-icon {
		margin-top: 3px;
		margin-left: 4px;
	}
}
