/* ==========================================================================
  Colors
 ========================================================================== */

/* Grays
 ========================================================================== */

$color-gray-1000: #000000;
$color-gray-900: #0F171D;
$color-gray-800: #1D2B35;
$color-gray-700: #2B414F;
$color-gray-600: #385265;
$color-gray-500: #45647B;
$color-gray-400: #557891;
$color-gray-300: #7894A7;
$color-gray-200: #9CAFBD;
$color-gray-150: #BAC7D1;
$color-gray-100: #D6DEE3;
$color-gray-50: #EDEFF2;

/* Primary colors
   ========================================================================== */

$color-night-blue: #3A586F;
$color-dark-night-blue: #182F42;
$color-teal-bright: #25A4CF;
$color-teal: #1D637A;
$color-teal-dark: #124455;

/* Secondary colors
   ========================================================================== */

$color-error-200: #EE8176;
$color-green: #46D46E;
$color-blue: #4D76F3;
$color-soft-blue: #7CAACF;

/* Secondary colors
   ========================================================================== */

$color-ocean-green: #57C2A0;
$color-silver: #DBDBDB;
$color-tapestry: #B75B99;
$color-wine-red: #98485C;
$color-night-blue: #3A586F;
$color-yellow: #F3AA2E;
$color-green: #9DB410;
$color-dark-orange: #D03F06;
$color-soft-blue: #8AC1CE;
$color-french-rose: #F33F67;

/* Semantic mapping
   ========================================================================== */

$color-primary: $color-teal-bright;
$color-success: #57C2A0;
$color-error: #DA3F34;

/* Filter alert message colors
   ========================================================================== */

$color-alert-background: #FFFFCC;
$color-alert-accent: #E9E994;

/* To refactor
   ========================================================================== */

$color-teal-bright-200: #CFE3E9;

/* Brands
   ========================================================================== */

$color-smartschool: #F05A1A
