@import "./colors";

/* ==========================================================================
   Variables
   ---
   Global SCSS variables (override default values defined in component files)
   ========================================================================== */

/* Typography
   ========================================================================== */

$g-base-font-family:
	"Montserrat",
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Helvetica,
	Arial,
	sans-serif;
$g-code-font-family: Consolas, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$g-base-font-size: 1.5rem;
$g-base-line-height: 1.5;
$g-headings-font-weight: 500;
$g-headings-font-family: "Avenir LT Std", "Avenir Next", Avenir, Montserrat, sans-serif;

/* Colors
   ========================================================================== */

$g-text-color: $color-gray-700;
$g-base-background: #fff;

/* Breakpoints
   ========================================================================== */

$g-bp1: 400px;
$g-bp2: 700px;
$g-bp3: 900px;
$g-bp4: 1200px;

$g-item-fragment-column-bp: $g-bp2;

/* Z-index stack
   ========================================================================== */

$g-c-tabs-z: 10;
$g-c-local-toolbar-middle-z: 20;
$g-c-local-toolbar-z: 21;
$g-c-global-navbar-z: 30;
$g-c-modal-backdrop-z: 40;
$g-c-modal-context-z: 50;
$g-c-modal-z: 60;
$g-c-menu-z: 70;
$g-c-alert-stack-z: 80;

/* Bars
   ========================================================================== */

$g-bar-size-huge: 9.6rem;
$g-bar-size-large: 8rem;
$g-bar-size-regular: 6.4rem;
$g-bar-size-medium: 4.8rem;

/* General
   ========================================================================== */

$g-spacer-unit: 0.8rem;

/* Form groups
   ========================================================================== */

$o-form-group-label-font-weight: 500; // Because of Montserrat vs Avenir

/* Grid
   ========================================================================== */

$o-grid-bp1: 400px;
$o-grid-bp2: 600px;
$o-grid-bp3: 900px;
$o-grid-bp4: 1200px;

/* Button overrides
   ========================================================================== */

$c-button-hover-border-color: $color-gray-100;
$c-button-link-color: $color-night-blue;

/* Inputs
   ========================================================================== */

$c-input-border-radius: 0.3rem !default;
$c-input-dark-text-color: $color-gray-600 !default;
$c-input-focus-icon-color: $color-gray-600 !default;
$c-input-bg-color: #fff !default;
$c-input-border-color: $color-gray-150 !default;
$c-input-readonly-border-color: $color-gray-150 !default;
$c-input-accent-color: $color-teal-bright !default;
$c-input-error-accent-color: $color-error !default;
$c-input-padding: 0.8rem !default;

$m-content-thumbnail-width: 150px;

// Views

$c-register-login-view-modal-background-color: $color-gray-50;
$c-register-login-view-modal-border-color: $color-gray-200;

$c-admin-core-header: 6rem;
$admin-actions-bar-height: 8.4rem;
$main-header-height: 6.4rem;
$user-group-selector-height: 3.6rem;
$main-footer-height: 37.33rem;
