@use "../../styles/settings/colors" as colors;
@use "../../styles/utilities/display" as display;

.c-search-result-list .c-search-result__title {
	> button {
		color: colors.$color-teal-bright;
		cursor: pointer;

		:hover {
			text-decoration: underline;
		}
	}
}

.c-search-result__owner-avatar .c-avatar {
	@include display.enlargeLogo;
}
