@use "../../styles/settings/colors" as colors;

.c-search-result-list .c-search-result__title {
	> button {
		color: colors.$color-teal-bright;
		cursor: pointer;

		:hover {
			text-decoration: underline;
		}
	}
}
