@import '../../../../styles/settings/colors';

$admin-actions-bar-height: 8.4rem;

.l-admin {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;

	.c-top-bar {
		background-color: $color-gray-50;

		h1 {
			font-size: 2.4rem;
			line-height: 2.4rem;
			margin: 0;
		}
	}

	.m-admin-layout-content {
		overflow-y: auto;
		height: calc(100vh - 64px);

		> .o-container-vertical {
			padding-bottom: 400px; // Leave space for the dropdown to open without having to scroll again
		}
	}
}

.l-admin--with-actions {
	// Prevent overlap with admin actions bar when present
	padding-bottom: $admin-actions-bar-height;
}

.c-table.c-table_detail-page {
	tr {
		&:nth-child(even) {
			background-color: #eee;
		}

		th,
		td {
			padding: 10px 10px;
			vertical-align: middle;
		}

		th {
			text-align: right;
		}
	}
}

.c-table {
	margin-top: 20px !important;
}

.c-table__row {
	border: 1px solid lightgray;

	&--header {
		padding: 20px;
	}
	&--header th:nth-child(2) {
		border-left: 1px solid lightgray;
	}
}

.c-table__cell {
	justify-content: center;

	&--header {
		padding: 10px;
	}
}

.c-table td:nth-child(2) {
	border-left: 1px solid lightgray;
	padding: 30px;
}
