@import '../../../../styles/settings/colors';

$admin-actions-bar-height: 8.4rem;

.l-admin {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;

	.c-top-bar {
		background: $color-gray-50;
	}

	h1 {
		font-size: 2.4rem;
		line-height: 2.4rem;
		margin: 0;
	}
}

.l-admin--with-actions {
	// Prevent overlap with admin actions bar when present
	padding-bottom: $admin-actions-bar-height;
}

.c-table.c-table_detail-page  {
	tr {
		&:nth-child(even) {
			background-color: #eee;
		}

		th,
		td {
			padding: 10px 10px;
			vertical-align: middle;
		}

		th {
			text-align: right;
		}
	}
}
