@use "../../../styles/settings/variables" as variables;

.react-joyride__tooltip {
	h4 {
		font-weight: 500;
		padding: 10px 10px 0;
	}

	> div {
		> h4,
		> div,
		> button {
			text-align: left;
			font-size: 14px !important;
		}
	}
}

.c-interactive-tour__button {
	@media (max-width: variables.$g-bp2) {
		display: none;
	}
}

.react-joyride__spotlight {
	background-color: #ffffff63 !important;
}
