@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

.c-global-footer {
	border-top: 1px solid colors.$color-gray-100;
	padding: variables.$g-spacer-unit * 6 variables.$g-spacer-unit * 3 variables.$g-spacer-unit * 10 variables.$g-spacer-unit * 3;
	margin-top: auto;
	font-size: 1.3rem;
	color: colors.$color-gray-500;
	min-height: 40rem;

	.c-global-footer__inner {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: variables.$g-spacer-unit * 4;

		/**
		  * Mobile
		  */
		@media screen and (max-width: variables.$g-bp2) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}

		a {
			display: flex;
			align-items: center;
			color: colors.$color-gray-500;
			text-decoration: none;
			padding: 0;
			box-sizing: border-box;
			margin-bottom: 1px;

			img {
				width: 83px;
				transform: translate(0, 3px);

				.flemish-government-logo {
					margin-top: 6px;
				}
			}
		}

		.c-global-footer__column-header {
			font-size: 1.6rem;
			font-weight: bold;
			margin-bottom: 1.6rem;
			height: 2rem;
		}

		ul {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			gap: variables.$g-spacer-unit;

			&.c-global-footer__column-1 {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}

			&.c-global-footer__column-2 {
				grid-column: 2 / 3;
				grid-row: 1 / 2;
			}

			&.c-global-footer__column-3 {
				grid-column: 3 / 4;
				grid-row: 1 / 2;
			}

			&.c-global-footer__column-4 {
				grid-column: 4 / 5;
				grid-row: 1 / 2;
				text-align: right;
			}

			/**
* Mobile
*/
			@media screen and (max-width: variables.$g-bp2) {
				&.c-global-footer__column-1 {
					grid-column: 1 / 2;
					grid-row: 1 / 2;
				}

				&.c-global-footer__column-2 {
					grid-column: 1 / 2;
					grid-row: 2 / 3;
				}

				&.c-global-footer__column-3 {
					grid-column: 1 / 2;
					grid-row: 3 / 4;
				}

				&.c-global-footer__column-4 {
					grid-column: 2 / 3;
					grid-row: 1 / 4;
					text-align: right;
				}
			}

			li {
				padding: 0.4rem;
				display: inline-block;
				margin-right: 0.8rem;

				a {
					display: inline-block;

					&:not(.u-text-decoration-none):hover {
						color: colors.$color-teal-bright !important;
						text-decoration: underline colors.$color-teal-bright !important;
					}
				}
			}
		}

		.c-nav__item--i {
			color: colors.$color-gray-500;

			&:hover,
			&:focus {
				background-color: transparent;
				color: colors.$color-gray-500;
			}
		}
	}
}

@media (min-width: variables.$g-bp2) {
	.c-global-footer__inner {
		display: flex;
		justify-content: space-between;
	}
}
