@import '../../../styles/settings/colors';
@import '../../../styles/settings/variables';

.c-global-footer {
	border-top: 1px solid $color-gray-100;
	padding: 2.4rem 0;
	margin-top: auto;
	font-size: 1.3rem;
	color: $color-gray-500;

	a {
		display: flex;
		align-items: center;
		color: $color-gray-500;
		text-decoration: none;
		padding: 0;
		box-sizing: border-box;
		margin-bottom: 1px;

		&:hover {
			border-bottom: 1px solid $color-gray-200;
			margin-bottom: 0;
		}

		img {
			height: 35px;
		}
	}

	ul {
		li {
			padding: 0.4rem;
			display: inline-block;
			margin-right: 0.8rem;
		}
	}

	.c-nav__item--i {
		color: $color-gray-500;

		&:hover,
		&:focus {
			background: transparent;
			color: $color-gray-500;
		}
	}
}

@media (min-width: $g-bp2) {
	.c-global-footer__inner {
		display: flex;
		justify-content: space-between;
	}
}
