@import "../../../styles/settings/variables";

$component: "c-icon-bar";

.#{$component} {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: $g-spacer-unit * 2;

	@media screen and (min-width: $g-bp2) {
		gap: $g-spacer-unit * 4;
	}

	&__sidebar {
		padding-right: $g-spacer-unit;
		border-right: 1px solid $color-gray-100;
		color: $color-gray-600;

		@media screen and (min-width: $g-bp2) {
			padding-right: $g-spacer-unit * 4;
		}

		.o-svg-icon {
			width: 2rem;
			height: 2rem;

			@media screen and (min-width: $g-bp2) {
				width: 4rem;
				height: 4rem;
			}
		}
	}

	@media screen and (max-width: ($g-bp2 - 1px)) {
		&__content {
			.c-video-player {
				max-width: none;
				width: calc(100% + 4.4rem + 2px);
				transform: translateX(calc(-4.4rem - 2px));
			}
		}
	}
}
