@use "../../styles/settings/colors" as colors;
@use "../../styles/settings/variables" as variables;

$bp: variables.$g-bp3;

.c-account-link {
	@media screen and (min-width: $bp) {
		height: 100px;
		border: 2px solid #e4f1f3;
	}

	&__column {
		display: flex;
		justify-content: center;
		flex-direction: column;

		@media screen and (max-width: ($bp - 1px)) {
			margin-top: variables.$g-spacer-unit;
		}

		&--smartschool,
		&--itsme-eid,
		&--klascement,
		&--leerid {
			flex-direction: row;
			align-items: center;

			margin: 0 !important;

			@media screen and (max-width: ($bp - 1px)) {
				min-height: 100px;
			}
		}

		&--itsme-eid {
			@media screen and (min-width: $bp) {
				border-right: 2px solid #e4f1f3;
			}
		}

		&--smartschool {
			color: #fff;
			background-color: colors.$color-smartschool;
		}

		&--klascement {
			color: #fff;
			background-color: colors.$color-klascement;
		}

		&--leerid {
			color: variables.$g-text-color;
			background-color: colors.$color-gray-50;
		}
	}

	&__label {
		font-weight: bold;
	}

	&__icon {
		margin-right: 7px;
		color: #5cc2a2;
	}

	.c-button {
		width: 100%;
	}
}
