@use "../../styles/settings/colors" as colors;

.p-profile-page {
	padding-bottom: 200px;

	.o-grid-col-bp3-3 {
		margin-left: 0;
	}
}

.c-logo-preview {
	width: 200px;
	height: 200px;
	background-color: colors.$color-gray-50;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 20px solid colors.$color-gray-50;
}

.profile-actions {
	display: flex;
	justify-content: space-between;
}
