@import '../../styles/settings/colors';

.p-profile-page {
	padding-bottom: 200px;
}

.c-logo-preview {
	width: 200px;
	height: 200px;
	background-color: $color-gray-50;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 20px solid $color-gray-50;
}
