@use "../../styles/settings/variables" as variables;

.u-hide {
	// Hide the element when the viewport is at least variables.$g-bp2, bigger than mobile
	&-gte-bp2 {
		@media (min-width: variables.$g-bp2) {
			display: none;
		}
	}
	// Hide the element when the viewport is less than variables.$g-bp2, smaller than desktop
	&-lt-bp2 {
		@media (max-width: (variables.$g-bp2 - 1px)) {
			display: none;
		}
	}
}
