@use "../../styles/settings/variables" as variables;

.c-item-detail {
	&__header {
		.c-meta-data__item p {
			margin: 0.36rem 0;
		}

		&.c-item-detail__header-mobile {
			.o-flex .c-meta-data {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
			}
		}
	}

	&__action-buttons {
		display: grid;
		grid-template-columns: auto auto;
		gap: variables.$g-spacer-unit;

		&--left,
		&--right {
			.c-button {
				vertical-align: initial;
			}

			> .c-button,
			> .c-dropdown__trigger {
				display: inline-block;
				margin-top: 8px;
			}
		}

		&--left {
			> .c-button,
			> .c-dropdown__trigger {
				&:not(:last-child) {
					margin-right: 8px;
				}
			}
		}

		&--right {
			text-align: right;
			> .c-button,
			> .c-dropdown__trigger {
				&:not(:first-child) {
					margin-left: 8px;
				}
			}
		}
	}
}

.c-item-view__main {
	.c-button-toolbar {
		.c-button {
			margin-bottom: 0.8rem;
		}
	}

	@media (max-width: variables.$g-bp2) {
		&.o-container-vertical {
			padding-top: 0;
		}
	}

	.c-meta-data__table-mobile {
		margin-top: 15px;

		th,
		td {
			display: inline-block;
		}

		td {
			width: calc(100% - 130px);
		}

		th {
			width: 130px;
		}
	}

	.c-dropdown__menu {
		.c-button__content {
			justify-content: start;
		}
	}
}

.c-button-link {
	margin-top: 0.8rem !important;
}
