@import '../../styles/settings/variables';

.c-item-view__main {
	.c-button-toolbar {
		.c-button + .c-button {
			margin-left: 0;
		}

		.c-button {
			margin-bottom: 0.8rem;

			&:not(:last-child) {
				margin-right: 0.8rem;
			}
		}
	}

	@media (max-width: $g-bp2) {
		&.o-container-vertical {
			padding-top: 0;
		}
	}
}

.c-item-detail__header {
	.c-meta-data__item p {
		margin: 0.36rem 0;
	}
}
