@use "../../../styles/settings/variables" as variables;

$component: "c-collapsible-column";

.#{$component} {
	overflow: hidden;
	position: relative;

	&__content {
		max-height: 100%;
	}

	&__toggle {
		background: var(--block-background);
		margin: 0 (0 - (variables.$g-spacer-unit * 2));

		&:before {
			background: rgb(255, 255, 255);
			background: linear-gradient(0deg, var(--block-background) 0%, rgba(255, 255, 255, 0) 100%);
			bottom: 100%;
			content: "";
			display: block;
			height: 1em;
			position: absolute;
			width: 100%;
		}
	}

	&--expanded {
		max-height: none !important;
	}

	&--overflowing:not(.#{$component}--expanded) {
		.#{$component} {
			&__toggle {
				inset: auto 0 0 0;
				position: absolute;
			}
		}
	}
}
