@import '../../../styles/settings/colors';

.c-content-edit-view__content {
	flex: 1 1 auto;
}

.c-content-edit-view__preview {
	overflow-x: hidden;

	.o-container {
		overflow-x: hidden;
	}

	.c-content > p {
		overflow-wrap: break-word;
	}
}

.c-content-edit-view__sidebar {
	max-width: 45%;
	height: auto;
	padding: 0 1.6rem 1.6rem;
	border-left: 2px solid $color-gray-50;
}
