@import '../../../styles/settings/colors';

.c-content-edit-view__sidebar,
.c-content-edit-view__preview {
	width: 100%;
	height: calc(100vh - 113px);
	overflow-y: auto;
}

.c-content-edit-view__preview {
	overflow-x: hidden;

	.c-content-block-preview > .o-container {
		overflow-wrap: break-word;
		overflow-x: hidden;
	}
}

.c-content-edit-view__sidebar {
	padding: 0 1.6rem 1.6rem;
}

.m-resizable-panels.m-edit-content-blocks {
	> div {
		> div:not(.resizable-fragment) {
			height: calc(100vh - 113px) !important;
		}
	}
}
