@import '../../../styles/settings/colors';

$content-top-bar-and-tabs-height: 113px;

.c-content-edit-view__sidebar {
	height: calc(100vh - #{$content-top-bar-and-tabs-height});

	> .o-sidebar__content > .c-scrollable {
		width: 100%;
		height: calc(100vh - #{$content-top-bar-and-tabs-height} - 68px);
		overflow-y: auto;
		padding: 2rem 1.6rem 8rem;
	}

	> .o-sidebar__content > .c-navbar {
		padding: 1.6rem;
		height: 70px;

		.c-select__control {
			border: 1px solid #25a4cf;
			background: #25a4cf;

			.c-select__single-value,
			svg {
				color: #fff;
			}
		}

		.c-select__placeholder {
			color: #fff;
		}
	}
}

.c-content-edit-view__preview {
	width: 100%;
	height: calc(100vh - #{$content-top-bar-and-tabs-height});
	overflow-y: auto;
}

.c-content-edit-view__preview {
	overflow-x: hidden;

	.c-content-block-preview > .o-container {
		overflow-wrap: break-word;
		overflow-x: hidden;
	}
}

.m-resizable-panels.m-edit-content-blocks {
	> div {
		> div:not(.resizable-fragment) {
			height: calc(100vh - #{$content-top-bar-and-tabs-height}) !important;
		}
	}
}
