.p-content-page-publish-modal {
	.c-datepicker {
		width: 100%;
		max-width: 35rem;
	}

	&__display-date {
		margin-top: 3.2rem;

		.o-form-group__label {
			font-weight: 500;
		}

		.u-spacer {
			position: relative;
			display: inline-block;
			width: 25.6rem;

			.c-tooltip-trigger {
				position: absolute;
				right: -25px;
				top: 6px;
			}

			.c-tooltip[data-popper-placement^='right'] > .c-tooltip__arrow {
				left: -4px;
			}
		}
	}
}
