@use "../../styles/settings/variables" as variables;
.c-error-no-access {
	.o-container {
		display: flex;
		justify-content: center;
		max-width: 50rem;
	}

	.c-blankslate {
		.c-h4 {
			font-size: x-large;
			font-family: variables.$g-headings-font-family;
		}
	}

	.c-ordered-list-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: variables.$g-spacer-unit * 2 !important;

		&__button {
			margin: variables.$g-spacer-unit * 4 0 !important ;
		}
	}
}
