@import "../../../styles/utilities/spacer";
@use "../../../styles/settings/colors" as colors;
@import "../../../styles/settings/_variables";

.c-modal__autoplay-modal {
	@media (min-width: variables.$g-bp2) {
		.c-modal {
			max-height: 90vh;
		}
	}

	.c-video-player-inner {
		width: 100% !important;
	}

	.c-video-player__playlist__wrapper {
		.ps__rail-x,
		.ps__rail-y {
			opacity: 1 !important;
			display: block !important;
		}
	}

	.c-video-player__playlist {
		height: auto !important;
	}

	.ScrollbarsCustom-Content {
		padding-right: 10px;
	}
}
