@use "../../../styles/settings/variables" as variables;

.c-share-with-pupil {
	width: 100%;

	.c-input {
		border-radius: 4px 0 0 4px;
		border-right: 0; // Avoid double border with button
	}

	.c-button--tertiary {
		border-left-width: 0;
		border-radius: 0 4px 4px 0;
		min-width: 13rem;
	}

	&--disabled {
		.c-input,
		.c-button--tertiary {
			pointer-events: none;
			opacity: 0.5;
		}
	}

	p {
		font-size: 1.4rem;
	}

	@media screen and (min-width: variables.$g-bp3) {
		width: 45rem;
	}

	@media screen and (min-width: variables.$g-bp3) {
		width: 50rem;
	}
}

.c-button-toolbar .c-share-with-pupil {
	.c-button--tertiary {
		margin-left: 0;
	}
}
