.c-modal-context.c-modal__unsaved-changes {
	z-index: 62; // Just above the other modals

	+ .c-modal-backdrop--visible {
		z-index: 61; // Just above the other modals
	}
}

// Prevent the modal container from exceeding the viewport
.c-modal-context,
.c-modal-backdrop {
	max-height: 100vh;
	max-width: 100vw;
}

.hide-zendesk-widget iframe#launcher {
	display: none !important;
}

.u-mq-switch-main-nav-authentication .c-nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

// Cookiebot logo on the banner
a#CybotCookiebotDialogPoweredbyCybot,
div#CybotCookiebotDialogPoweredByText {
	display: none;
}

/* Cookiebot logo on the Privacy trigger */
#CookiebotWidget .CookiebotWidget-body .CookiebotWidget-main-logo {
	display: none;
}
