@import '../../../../styles/settings/colors';

.c-content-block-form {
	margin-bottom: 2rem;

	.o-form-group {
		margin-bottom: 0.8rem;
	}

	.o-form-group__label {
		padding: 0 0 0.4rem;
		font-size: 1.3rem;
	}

	.o-form-group__controls {
		flex-grow: 1;
	}
}

.c-content-block-form__accordion {
	&.has-error {
		border-color: $color-error;
	}
}
