@use "../../styles/settings/variables" as variables;

.c-quick-lane-detail {
	.c-navbar {
		height: auto;

		h2,
		.c-content > p {
			max-width: 800px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.c-content > p {
			max-width: 100%;
		}
	}

	.c-toolbar {
		height: auto;
		justify-content: space-between;
	}

	.c-toolbar__left,
	.c-toolbar__right {
		flex: initial;
	}

	.c-more-options-dropdown {
		padding-top: 5px;
	}

	.c-collection-list__item {
		padding: variables.$g-spacer-unit * 4 0;
		border-bottom: 1px solid colors.$color-gray-100;
	}
}
