@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

.c-translations-overview {
	.c-input {
		padding: 0;
		background-color: transparent;
		border: 0;
		position: relative;
		margin-top: 2rem;
		margin-bottom: 2rem;

		.c-input__field {
			margin: 0;
			border-radius: 0.3rem;
			background-color: #fff;
			border: 1px solid colors.$color-gray-150;
			font-size: inherit;
			height: 3.6rem;
			padding: 0.8rem 0 0.8rem 3.2rem;
			width: 100%;
			appearance: none;
			transition: all 0.15s ease-in-out;

			&:focus {
				outline: 0;
				border-color: colors.$color-teal-bright;
				box-shadow: inset 0 0 0 0.1rem colors.$color-teal-bright;
			}
		}

		.c-input__icon {
			position: absolute;
			top: 0.5rem;
			left: 0.8rem;
			opacity: 0.8;
		}
	}

	table {
		width: 100%;
		margin: 0 !important;

		th {
			line-height: 2rem;
			vertical-align: middle;
			cursor: pointer;
			text-align: left;
			font-weight: 600;
			font-family:
				"Montserrat",
				-apple-system,
				BlinkMacSystemFont,
				"Segoe UI",
				Roboto,
				Helvetica,
				Arial,
				sans-serif;
			font-size: 1.5rem;
			border-left: 0;
		}

		th:first-child,
		td:first-child {
			width: 60%;
		}

		tr {
			border: 1px solid colors.$color-gray-100;
			border-width: 1px 0 0 0;
			border-collapse: separate;
		}

		thead tr {
			border-width: 0 0 1px 0;
		}

		tbody tr {
			vertical-align: center;

			td {
				vertical-align: middle;

				&:nth-child(2) {
					border-left: 1px solid lightgray;
					padding: 0;

					&:hover {
						background-color: colors.$color-gray-25;
					}

					.c-translation-overview__edit-button {
					  width: 100%;
					  border: 0;
					  text-align: left;
						background-color: transparent;
						padding: 3rem 3rem 3rem 1rem;
						cursor: pointer;
					}
				}
			}
		}

		.u-text-muted {
			color: gray;
		}

		.c-table__cell:last-child {
			width: 6rem;

			> span {
				font-size: medium;
				margin-top: 0.4rem;
			}
		}
	}
}

.c-translations-overview__modal .c-modal {
	max-width: 100rem;

	.c-modal__body {
		height: 49.4rem;

		.c-button--copy-to-clipboard {
			max-height: none;
			background-color: transparent;
			border: 0;
			margin-bottom: 2rem;
			margin-left: -1rem;
			padding-left: 1rem;

			&:hover {
				background-color: colors.$color-gray-25;
			}

			.c-button__content {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				font-size: 1.6rem;
			}
		}

		.bf-container,
		textarea {
			border: 1px solid colors.$color-gray-100;
			border-radius: 0.3rem;

			.bf-content {
				height: 31rem;
			}
		}

		textarea {
			width: 100%;
			min-height: 30rem;
			padding: 1.5rem;

			&:focus {
				outline: 0;
				border-color: colors.$color-teal-bright;
			}
		}
	}

	.c-button-toolbar > div {
		display: flex;
		flex-direction: row-reverse;

		.c-button:last-child {
			background-color: transparent;
			border: 0;
			color: black;
			margin: 0 variables.$g-spacer-unit;

			&:hover {
				background-color: colors.$color-gray-25;
			}
		}
	}
}
