.disable-background {
	opacity: 0.5;
}

.test {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.c-translations-overview {
	&__modal {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: 15px;
	}

	:global(.c-input) {
		padding: 0;
		background-color: transparent;
		border: 0;

		:global(.c-input__field) {
			margin: 0;
			height: 4rem;
			width: 50%;
			border-radius: 1;
		}
	}

	:global(table) {
		margin-top: 10px;

		:global(.c-table__row:hover) {
			background-color: lightgray;
			cursor: pointer;
		}

		:global(.c-table__row--header) {
			:global(.c-table__cell--header) {
				:global(> span) {
					font-size: large;
				}
			}
		}

		:global(.u-text-muted) {
			color: gray;
		}

		:global(.c-table__cell:last-child) {
			width: 6rem;

			:global(> span) {
				font-size: medium;
				margin-top: 0.4rem;
			}
		}
	}
}
