@use "../../styles/settings/variables" as variables;

.l-assignment-response__meta-data {
	flex-wrap: wrap;

	> div {
		width: 100%;

		@media screen and (min-width: variables.$g-bp2) {
			width: 50%;
		}

		@media screen and (min-width: variables.$g-bp3) {
			width: auto;
			margin-right: variables.$g-spacer-unit * 2;
		}
	}
}
