@use "../../styles/settings/colors" as colors;

.c-assignment-block-toggle {
	border-top: 1px solid colors.$color-gray-100;

	&__description {
		max-width: 640px;
	}

	.o-flex--center {
		justify-content: initial;
	}
}
