@use "../../styles/settings/variables" as variables;

$component: "c-assignment-block-description-buttons";

.#{$component} {
	&--default {
		display: none;

		@media screen and (min-width: variables.$g-bp2) {
			display: block;
		}
	}

	&--select {
		@media screen and (min-width: variables.$g-bp2) {
			display: none;
		}
	}
}
