@use "sass:math";
@use "../../styles/settings/variables" as variables;

.c-assignment-heading {
	&__actions {
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		padding-left: variables.$g-spacer-unit * 2;
		z-index: variables.$g-c-local-toolbar-z; // Ensure rich text does not overlap

		@media screen and (min-width: variables.$g-bp2) {
			gap: variables.$g-spacer-unit;
		}

		&--creating {
			grid-template-columns: auto; // Only one button on creation page
		}

		& > button,
		& > .c-dropdown__trigger,
		& > .c-assignment-heading__dropdown-wrapper {
			transform: translateY(2px); // Account for visual centering

			@media screen and (min-width: variables.$g-bp2) {
				transform: none;
			}
		}

		.c-assignment-heading__dropdown-wrapper {
			z-index: 1;
		}

		.c-dropdown__content-open {
			padding-top: 2px; // Account for visual centering

			.c-button .c-button__content {
				justify-content: left;
			}

			button {
				&[disabled] {
					opacity: 0.5;
					cursor: not-allowed;
				}
			}
		}

		button {
			.c-button__label {
				max-width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			@media screen and (min-width: variables.$g-bp2) {
				min-width: 0;
			}
		}

		> button {
			height: 100%;
		}
	}

	&__dropdown-wrapper {
		height: 100%;
		position: relative;

		.c-dropdown__trigger {
			height: 100%;

			button {
				height: 100%;
			}
		}
	}

	&__top {
		align-items: flex-end;
		min-height: 0;

		.c-toolbar {
			&__left,
			&__right {
				flex: initial;
				margin-bottom: variables.$g-spacer-unit * 2;
			}

			&__left {
				flex-grow: 1;
				min-width: 0;

				@media (min-width: variables.$g-bp2) {
					margin-top: 0;
				}
			}

			&__right {
				@media (min-width: variables.$g-bp2) {
					min-width: 0;
				}
			}
		}
	}

	&__bottom {
		overflow-x: auto;
		overflow-y: hidden;
		z-index: 0;
		position: relative;

		// Don't overwrite .o-container on wide screens
		@media screen and (max-width: (variables.$g-bp2 - 1px)) {
			max-width: 100%;
		}

		.c-tabs {
			> .c-tab-item {
				padding: 0.8rem;

				@media screen and (min-width: variables.$g-bp1) {
					padding: 1.2rem;
				}
			}
		}
	}

	& + .o-container {
		overflow: initial !important; // Allow sticky elements in this context
		flex-grow: 1; // Shove the footer down and fill the container
	}

	.c-assignment-heading__hide-on-mobile {
		display: none;

		@media screen and (min-width: variables.$g-bp2) {
			display: block;
		}
	}

	.c-assignment-heading__show-on-mobile {
		@media screen and (min-width: variables.$g-bp2) {
			display: none;
		}
	}
}

/**
 * Disable horizontal scroll, to avoid issues with the interactive flow
 * https://meemoo.atlassian.net/browse/AVO-2919
 */
.c-interactive-tour--in-progress {
	.c-assignment-heading {
		&__bottom {
			overflow-x: hidden;
			overflow-y: hidden;
		}
	}
}
