@use "../../styles/settings/variables" as variables;

.c-assignment-block-description-buttons {
	&--default {
		display: none;

		@media screen and (min-width: variables.$g-bp2) {
			display: block;
		}
	}

	&--select {
		@media screen and (min-width: variables.$g-bp2) {
			display: none;
		}
	}
}
