@import '../../../../../../styles/settings/colors';

.c-content-page-overview-block {
	.o-flex.o-flex--center > .c-tabs {
		flex: initial;
	}

	.c-content-page-overview-block__header.o-flex--center .c-tag-list {
		justify-content: center;
	}

	.c-content {

		h2,
		h3 {
			margin-top: 0;
			cursor: pointer;
			color: $color-teal-bright;
			font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
			font-weight: 500;

			&:hover {
				text-decoration: underline;
			}
		}

		h3 {
			margin-bottom: 6px;
		}

		h2 {
			margin-bottom: 1.6rem;
		}

		.a-subtitle {
			margin: 0;
		}

		.a-subtitle,
		.a-content-page__description,
		.c-button__label {
			font-size: 14px;
		}

		.c-content-page__label {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.c-aspect-ratio-wrapper {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.c-page-overview-project-list.c-block-image-title-text-button {
		padding: 0;
		margin: 0 0 3.8rem 0;

		&:first-child {
			margin-top: 3.8rem;
		}
	}
}
