@import '../../styles/settings/variables';

.m-bundle-detail {
	&.hide-behind-login-popup {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
	}
}

.c-collection-list__item {
	margin-bottom: 3.2rem;
	padding-bottom: 3.2rem;
	border-bottom: 1px solid #D6DEE3;

	&:last-child {
		border: none;
	}
}


@media (max-width: $g-bp2) {
	.m-bundle-detail-header {
		.c-thumbnail {
			width: 100%;
			margin-bottom: 2.2rem;
		}

		.c-toolbar {
			align-items: flex-end;
		}
	}
}
