@import "../../styles/settings/variables";

.m-bundle-detail {
	&.hide-behind-login-popup {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
	}

	.c-toolbar {
		.c-tooltip {
			// This is so dirty but seems to fix the issue of not aligning the tooltip for the bookmark
			margin-left: $g-spacer-unit * 3;
		}
	}

	.c-bundle-toolbar__mobile {
		> .c-toolbar__left {
			width: calc(100% - 40px);
		}
	}

	.c-collection-list__item {
		padding: $g-spacer-unit * 4 0;
		border-bottom: 1px solid $color-gray-100;
	}

	@media (max-width: $g-bp2) {
		.m-bundle-detail-header {
			.c-thumbnail {
				width: 100%;
				margin-bottom: 2.2rem;
			}

			.c-toolbar {
				align-items: flex-end;
			}
		}
	}
}
