@use "../../../styles/settings/colors" as colors;

.DraftEditor-editorContainer {
	.public-DraftEditor-content > div > div:first-child {
		margin-top: 0;
	}
}

.c-rich-text-editor {
	.control-item,
	.dropdown-handler {
		&:focus {
			outline: 2px solid colors.$color-teal-bright;
		}
	}
}
