@use "../../styles/settings/colors" as colors;
@use "../../styles/settings/variables" as variables;

.m-collection-overview-thumbnail.c-thumbnail {
	max-width: 125px;
	height: 70px;
	padding: 0;

	@media (max-width: variables.$g-bp2) {
		width: 50px;
		height: 28px;
	}
}

.m-collection-overview-shared {
	display: flex;
	padding: 0.6rem;
	border-radius: 50%;
	color: white;
	background-color: colors.$color-teal-bright;

	.o-svg-icon {
		width: 1.6rem;
		height: 1.6rem;
	}
}
