@use "../../styles/settings/variables" as variables;

$collection-header-height-title: 17.916rem;
$collection-header-height-tabs: 4.479rem;

$collection-header-height: $collection-header-height-title + $collection-header-height-tabs;

.c-collection-or-bundle-edit {
	&__header-buttons--desktop {
		display: none;
	}

	&__header-buttons--mobile {
		display: block;
	}

	@media screen and (min-width: variables.$g-bp2) {
		&__header-buttons--mobile {
			display: none;
		}
		&__header-buttons--desktop {
			display: block;
		}
	}

	.c-sticky-bar__wrapper {
		min-height: calc(100vh - $main-header-height - $main-footer-height - $collection-header-height);
	}
}
