@use "../../../../styles/settings/colors" as colors;
@use "../../../../styles/settings/variables" as variables;

.c-assignment-block-type-search {
	display: flex;

	.c-collection-fragment-rich-text {
		min-height: 16rem;

		@media screen and (max-width: variables.$g-bp3) {
			min-height: 0;
		}
	}

	.c-button {
		max-width: 40rem;

		&.c-button--primary {
			max-height: 5rem;

			.c-button__label {
				font-weight: bold;
				line-height: 3.8rem;
			}
		}
	}

	.c-pill {
		background: colors.$color-gray-400;
		color: white;
		border-color: transparent;
		font-weight: 500;

		.o-svg-icon {
			width: 1.2rem;
			height: 1.2rem;
			margin-right: 0.4rem;
		}
	}

	.c-toolbar {
		min-height: 0;
	}

	> div:first-child {
		flex-basis: 60%;
	}

	> div:last-child {
		flex-basis: 40%;
		position: relative;
		overflow: visible;

		@media screen and (max-width: variables.$g-bp3) {
			min-height: 25rem;
		}

		svg {
			margin-right: 10%;
			width: 80%;
			position: absolute;
			right: 0;
			bottom: -2.3rem;
		}
	}

	@media screen and (max-width: variables.$g-bp2) {
		flex-direction: column;

		> div:first-child {
			flex-basis: 100%;
		}

		> div:last-child {
			flex-basis: 100%;
			position: relative;
			overflow: visible;
			display: flex;
			justify-content: center;

			svg {
				position: absolute;
				bottom: -2.3rem;
				width: 30rem;
				margin: auto;
				right: unset;
			}
		}
	}
}
