@use "sass:math";
@use "../../../../styles/settings/colors" as colors;
@use "../../../../styles/settings/variables" as variables;

$item-description-height-0: 188px;
$item-description-height-2: 320px;

.c-collection-fragment-type-item {
	display: grid;
	gap: variables.$g-spacer-unit;

	@media screen and (min-width: variables.$g-item-fragment-column-bp) {
		grid-template-columns: 1fr 244px;
		gap: variables.$g-spacer-unit (variables.$g-spacer-unit * 2);

		> :first-child {
			grid-column: 1/3;
		}
	}

	@media screen and (min-width: variables.$g-bp3) {
		grid-template-columns: 1fr 366px;
		gap: (variables.$g-spacer-unit * 2) (variables.$g-spacer-unit * 3);
	}

	@media screen and (min-width: variables.$g-bp4) {
		grid-template-columns: 1fr 488px;
		gap: (variables.$g-spacer-unit * 2) (variables.$g-spacer-unit * 4);
	}

	.c-heading {
		margin: 0;
	}

	// Limit the description with more/less buttons
	.c-collapsible-column {
		max-height: $item-description-height-0;

		@media screen and (min-width: variables.$g-item-fragment-column-bp) {
			max-height: $item-description-height-2;
		}

		+ .c-collapsible-column {
			margin-top: variables.$g-spacer-unit * 2;
			padding-top: variables.$g-spacer-unit * 2 + 0.6rem; // 0.6rem is the button's Y-padding
			border-top: 1px solid colors.$color-gray-100;
			max-height: 9rem;
		}
	}

	> a {
		width: fit-content;
	}
}
