@use 'sass:math';
@import '../../../../styles/settings/variables';

$item-description-height-0: 188px;
$item-description-height-2: 320px;

.c-collection-fragment-type-item {
	display: grid;
	gap: $g-spacer-unit;

	@media screen and (min-width: $g-item-fragment-column-bp) {
		grid-template-columns: 1fr 244px;
		gap: $g-spacer-unit ($g-spacer-unit * 2);

		> :first-child {
			grid-column: 1/3;
		}
	}

	@media screen and (min-width: $g-bp3) {
		grid-template-columns: 1fr 366px;
		gap: ($g-spacer-unit * 2) ($g-spacer-unit * 3);
	}

	@media screen and (min-width: $g-bp4) {
		grid-template-columns: 1fr 488px;
		gap: ($g-spacer-unit * 2) ($g-spacer-unit * 4);
	}

	.c-heading {
		margin: 0;
	}

	// Limit the description with more/less buttons
	.c-collapsible-column {
		max-height: $item-description-height-0;

		@media screen and (min-width: $g-item-fragment-column-bp) {
			max-height: $item-description-height-2;
		}

		+ .c-collapsible-column {
			margin-top: $g-spacer-unit * 2;
			padding-top: $g-spacer-unit * 2 + 0.6rem; // 0.6rem is the button's Y-padding
			border-top: 1px solid $color-gray-100;
			max-height: 9rem;
		}
	}
}
