@use 'sass:math';
@import '../../../../styles/settings/variables';

$item-description-height-xs: 160px;

.c-collection-fragment-type-item {
	display: grid;
	gap: $g-spacer-unit;

	@media screen and (min-width: $g-item-fragment-column-bp) {
		grid-template-columns: 1fr 244px;
		gap: $g-spacer-unit ($g-spacer-unit * 2);

		> :first-child {
			grid-column: 1/3;
		}
	}

	@media screen and (min-width: $g-bp3) {
		grid-template-columns: 1fr 366px;
		gap: ($g-spacer-unit * 2) ($g-spacer-unit * 3);
	}

	@media screen and (min-width: $g-bp4) {
		grid-template-columns: 1fr 488px;
		gap: ($g-spacer-unit * 2) ($g-spacer-unit * 4);
	}

	.c-heading {
		margin: 0;
	}

	// Limit the description with more/less buttons
	.c-collapsible-column {
		max-height: $item-description-height-xs;

		@media screen and (min-width: $g-item-fragment-column-bp) {
			max-height: $item-description-height-xs * 2;
		}
	}
}
