@use "../../../styles/settings/colors" as colors;
@use "../../../styles/settings/variables" as variables;

// Sizes
$block-editor-border-radius: 0.4rem;
$block-editor-gap: variables.$g-spacer-unit * 5; // 40px
$block-editor-header-height: 5.1rem;

// Colors
$block-editor-background-color: colors.$color-platinum;
$block-editor-border-color: colors.$color-gray-100;
$block-editor-divider-color: colors.$color-silver;
$block-editor-heading-color: colors.$color-gray-700;
$block-editor-navy: colors.$color-gray-600;
$block-editor-thumbnail-background-color: colors.$color-gray-50;

// Shorthands
$block-editor-border: 0.1rem solid $block-editor-border-color;

.c-list-sorter {
	&__item,
	&__divider {
		margin-bottom: $block-editor-gap;
	}

	&__item {
		&__header {
			background-color: $block-editor-background-color;
			border-top-left-radius: $block-editor-border-radius;
			border-top-right-radius: $block-editor-border-radius;
			border: $block-editor-border;
			display: grid;
			grid-template-columns: $block-editor-header-height 1fr auto;
			min-height: $block-editor-header-height;
		}

		&__thumbnail,
		&__heading,
		&__actions {
			display: flex;
		}

		&__thumbnail,
		&__actions {
			align-items: center;
			color: $block-editor-navy;
		}

		&__thumbnail {
			background-color: $block-editor-thumbnail-background-color;
			border-right: $block-editor-border;
			justify-content: center;
		}

		&__heading {
			padding: variables.$g-spacer-unit * 2;
			color: $block-editor-heading-color;
		}

		&__actions {
			justify-content: end;

			& > button,
			& > div {
				margin-right: variables.$g-spacer-unit;
			}

			.c-color-select {
				width: 14rem;
				max-width: 100%;
			}
		}

		&__content {
			background-color: $block-editor-background-color;
			border-bottom-left-radius: $block-editor-border-radius;
			border-bottom-right-radius: $block-editor-border-radius;
			border-bottom: $block-editor-border;
			border-left: $block-editor-border;
			border-right: $block-editor-border;
		}
	}

	&__divider {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		gap: variables.$g-spacer-unit * 3;
		align-items: center;

		hr {
			border-bottom-width: 0;
			border-left-width: 0;
			border-right-width: 0;
			border-color: $block-editor-divider-color;
			border-style: solid;
			margin: 0;
		}
	}
}
