@import '~flowplayer-files/lib/styles/flowplayer.css';
@import '../../../styles/settings/colors';
@import '../../../styles/settings/variables';

$player-play-button-dimensions: 7rem;
$player-play-button-icon-dimensions: 3rem;
$player-easing-soft: cubic-bezier(0.62, 0.28, 0.23, 0.99);
$c-video-player-progress-height: 6px !default;
$c-video-player-progress-handle-size: $c-video-player-progress-height * 2.5 !default;
$c-play-overlay-inner-bg: #0F171D;
$c-spinner-fullscreen-holder-bg: rgba(#000, 0.5);
$c-video-player-progress-inner-bg: #25A4CF;

.c-video-player {
	overflow: hidden;
	vertical-align: bottom;
	position: relative;

	width: 100%;

	color: rgba(#fff, 0.67);
	background-color: transparent;

	.c-cut-overlay {
		position: absolute;
		display: flex;
		align-items: center;
		bottom: 7.5%;
		left: 0;

		padding: 0.5rem 1rem;

		background-color: $color-teal-bright;
		box-shadow: 0 0 5px 0px rgba(#222, 0.5);

		font-size: 1.2rem;
		font-weight: 500;

		.o-svg-icon {
			width: 1.5rem;
			height: 1.5rem;

			margin-right: 0.5rem;
		}
	}

	.c-play-overlay {
		position: absolute;
		top: calc(50% - #{$player-play-button-dimensions / 2});
		left: calc(50% - #{$player-play-button-dimensions / 2});

		width: $player-play-button-dimensions;
		height: $player-play-button-dimensions;

		cursor: pointer;

		&__inner {
			display: flex;
			align-items: center;
			justify-content: center;

			width: $player-play-button-dimensions;
			height: $player-play-button-dimensions;

			background-color: rgba($c-play-overlay-inner-bg, 0.5);
			border-radius: 50%;
			box-shadow: 0 0 5px 0px rgba(#222, 0.5);

			&:hover {
				background-color: rgba($c-play-overlay-inner-bg, 0.7);
				box-shadow: 0 0 10px 0px rgba(#222, 0.7);

				transition: 0.14s background $player-easing-soft;
			}

			.o-svg-icon {
				width: $player-play-button-icon-dimensions;
				height: $player-play-button-icon-dimensions;
			}
		}

		&__button {
			margin-right: -4px;
		}
	}

	.c-logo-overlay {
		display: block;
		position: relative;

		width: 100%;

		&__img {
			position: absolute;
			top: 0;
			right: 0;

			width: 5%;

			margin: 1.2rem;
		}
	}

	.c-title-overlay {
		display: none;

		width: 100%;

		&__title {
			background-color: rgba(15, 23, 29, 0.75);
			font-weight: 500;
			padding: 0.8rem 1.2rem;
			font-size: 3rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			max-width: calc(100% - 3.2rem);
			margin: 0.6rem 1.2rem;
			margin-top: 1.2rem;
		}

		.u-d-flex {
			margin: 0rem 1.2rem;
		}

		&__meta {
			display: inline-block;

			padding: 0.8rem 1.2rem;

			font-size: 2rem;

			background-color: rgba(15, 23, 29, 0.5);

			&:not(:first-child) {
				margin-left: 1.2rem;
			}
		}
	}

	.fp-secondary .fp-togglable {
		display: flex;
		flex-direction: row;
		position: relative;
		right: 0.7em;

		width: 100%;
	}

	.fp-header {
		display: none;
		justify-content: flex-end;
		position: absolute;
		top: auto;
		right: 0;
		bottom: 0;
		left: auto;

		width: 60px;

		padding: 0;

		color: rgba(255, 255, 255, 0.67);
		background-color: rgba(15, 23, 29, 0.8);

		z-index: 1;
	}

	&.is-cast-available {
		.fp-header {
			width: 110px;
		}
	}

	.fp-controls {
		width: calc(100% - 60px);

		color: rgba(255, 255, 255, 0.67);
		background-color: rgba(15, 23, 29, 0.8);

		z-index: 0;
	}

	&.is-cast-available {
		.fp-controls {
			width: calc(100% - 110px);
		}
	}

	&.use-drag-handle .fp-controls:hover .fp-timeline {
		height: 6px;
	}

	.fp-progress,
	.fp-bar,
	.fp-buffer,
	fp-hover {
		width: 40%;
		height: 6px;
	}

	.fp-color {
		background-color: #25a4cf;
	}

	.fp-secondary {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		top: 0;
		left: 0;

		padding: 0.72rem 5px;

		height: 100%;
		width: 100%;

		.fp-cast-button,
		.fp-fullscreen,
		.fp-fullscreen-exit {
			width: 50px;
			height: 60%;

			margin: 0;
			padding: 0;
		}
	}

	&.is-hovered,
	&.is-paused {
		.fp-header {
			display: block;
		}
	}

	&.is-fullscreen {
		&.is-hovered,
		&.is-paused {
			.c-title-overlay {
				display: block;
			}
		}
	}

	&__thumbnail {
		cursor: pointer;
	}

	&__item {
		width: 100%;
		height: 100%;

		line-height: 0;

		img,
		video {
			width: 100%;
			height: 100%;
		}
	}

	&__controls {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;

		padding: 8px 5px;
	}

	&__time {
		width: 80px;

		font-size: 12px;

		white-space: nowrap;
	}

	&__time-elapsed {
		display: inline-block;

		width: 34px;
	}

	&-progress {
		position: relative;

		min-width: 100px;
		height: $c-video-player-progress-height;

		&__inner {
			position: absolute;
			left: 0;

			height: $c-video-player-progress-height;

			background-color: #25A4CF;
		}

		&__handle {
			position: absolute;
			top: $c-video-player-progress-height / 2 - $c-video-player-progress-handle-size / 2;
			right: -$c-video-player-progress-handle-size / 2;

			width: $c-video-player-progress-handle-size;
			height: $c-video-player-progress-handle-size;

			background-color: #25A4CF;

			border-radius: 50%;
		}
	}
}

.c-button--borderless {
	background-color: transparent;
	color: #fff;
	border-color: transparent;

	svg * {
		fill: #fff;
	}

	&:hover {
		background: rgba(#fff, 0.1);
	}

	&:focus {
		box-shadow: 0 0 0 2px #25A4CF;

		outline: 0;

		transition: 0.14s box-shadow $player-easing-soft;
	}

	&:active,
	&.c-button--active {
		background-color: #45647B;
		border-color: transparent;
	}

	&:active:focus,
	&.c-button--active:focus {
		box-shadow: 0 0 0 2px $color-primary;
	}
}
